[2018-10-16 14:28] kimwdavidson opened #1 "Instance maintainer login"
As an instance maintainer, I need to be able to login, so that I can administer the platform.

Tasks listed here: https://github.com/ViderumGlobal/ckan-cloud-provisioning-ui/issues/9

[2018-10-16 14:28] kimwdavidson opened #2 "Platform admin login"
As a platform admin, I need to be able to login, so that I can administer the platform

[2018-10-16 14:30] kimwdavidson opened #3 "Manage instance"
As an instance maintainer, I should be able to see a list of my instances, so that I can see the instances I can update

Tasks listed here: ViderumGlobal/ckan-cloud-provisioning-ui#9

[2018-10-16 14:31] kimwdavidson opened #4 "Create instance"
As a platform admin, I should be able to create a new instance, so that I can hand them over to instance maintainers

Tasks listed here: ViderumGlobal/ckan-cloud-provisioning-ui#9

[2018-10-16 14:38] kimwdavidson opened #5 "Instance admin status for platform admin creator"
As a platform admin, when I create a new instance, I should automatically become an instance admin of that instance, so that I can continue to administer it

[2018-10-16 14:41] kimwdavidson opened #6 "Task: create mockup of UI for instance creation"
Required:
- [ ] Options to enable plugins
   -  [ ] Harvesting `edition` - for harvesting multiple remote sources of metadata
   -  [ ] Inventory `edition` - for managing/hosting data/datasets and generating a consolidated data.json file for publishing.
- [ ] Options to provide a custom `theme`
- [ ] Option to provide image for site `theme`
- [ ] Output DNS endpoint
- [ ] Add custom Google Analyti

[2018-10-16 14:43] kimwdavidson opened #7 "Platform admin - SAML or OAuth"
As a platform admin, I want to be able to log in using SAML or OAuth to the platform, so I can use a tool I'm already using to log in

[2018-10-16 14:47] kimwdavidson opened #8 "Configure extensions"
As a platform admin, when I create a new instance, I should be able to choose between a few predefined configurations for instances with different extension combinations

[2018-10-16 14:48] kimwdavidson opened #9 "Default extensions"
As a platform admin, when I create a new instance, my instance choice should come with a package of default extensions, so that I can give an instance admin an instance with the most common extensions already included.

- project open data metadata extension
- data.json
- datastore filestore capabilities
- pages extension

[2018-10-16 14:52] kimwdavidson opened #10 "Manage extensions"
As an instance maintainer, I should be able to configure extensions as needed, so that I can control the features of my instance

[2018-10-17 00:59] kimwdavidson opened #11 "TBD-Optional Instance maintainer - SAML or OAuth"
As an instance maintainer, I want to be able to log in using SAML or OAuth to the platform, so I can use a tool I'm already using to log in

[2018-10-17 13:42] kimwdavidson opened #12 "Task: Determine default extensions for each kind of instance"
Platform admins will be able to choose from two different kinds of instances that come with different packages of default extensions. GSA team to determine which default extensions will come with each instance.

Name ideas:
Publisher
Federated publisher

[2018-10-17 13:45] kimwdavidson opened #13 "Create and manage organizations"
As a platform admin, I can create and manage organizations - add users, instances , so that instances and users can be organized

[2018-10-17 13:48] kimwdavidson opened #14 "Site URL per instance"
As an instance maintainer, I want to be able to set up site URL so that I can easily manage it

Tasks listed here: ViderumGlobal/ckan-cloud-provisioning-ui#9

[2018-10-17 13:54] kimwdavidson opened #15 "Manage TLS certificates"
As an instance maintainer, I can manage instances TLS certificates, so my instances will be security compliant

[2018-10-17 14:00] kimwdavidson opened #16 "TBD-Optional See resource utilization"
As an instance maintainer, I can see resource utilization (CPU memory, disk space, object storage usage, networking), so that I can properly size the site

[2018-10-17 14:02] kimwdavidson opened #17 "TBD-Optional Logging monitoring and alerts"
As a platform admin, I want to be able to see access level logs and application logs and get alerts about issues, so that I have a record for security officials or to troubleshoot.

First, determine if it's worth the level of effort to give this access to instance admins.

[2018-10-17 14:06] kimwdavidson opened #18 "Task: Break out components"
Components, repository management

[2018-10-17 14:07] kimwdavidson opened #19 "Configure theme"
As an instance maintainer, I can configure the theme of my instance, so it matches the branding of my agency

[2018-10-17 14:08] kimwdavidson opened #20 "Task: White label theme design"
Create mockup for white label theme

[2018-10-17 14:08] kimwdavidson opened #21 "Discovery: Determine theme options"
Determine what the default theme will come with and what instance admins will be able to configure

[2018-10-17 14:10] kimwdavidson opened #22 "Discovery: Manual and Auto Scaling"
As a platform admin, I can manually scale instances and instance processes, so that the platform can support the instances as needed

Look into scaling (how it could be done and done automatically)

## Acceptance criteria

Have a document detailing

* [x] the process for setting up auto scaling on a Kubernetes cluster on AWS/GCP
* [x] the process of adding or removing nodes from a Kubernetes clust

[2018-10-19 06:53] mbocevski opened #23 "CKAN Provisioning API Specification"
As a Developer, I want to have a specification for CCA that will cover the necessary details for implementation so that I can refer to it and use it during the development process

[2018-10-19 06:54] mbocevski opened #24 "Specification for Kubernetes architecture and setup"
As a Developer, I want to have a specification for the kubernetes architecture and setup, including all components and ansible requirements so that I can use it during the development process

[2018-10-19 06:55] mbocevski opened #25 "Open source CCA"
We need to open source CCA, attribute license and refactor

[2018-10-19 06:57] mbocevski opened #26 "Open source ansible cluster setup"
We need to open source the orchestrated cluster setup, attribute license and refactor

[2018-10-19 13:23] gocemitevski opened #27 "Task: Create Sign in page mockup"
A separate design is needed for the Sign in page, through which users are signed in into the multi-tenant CKAN portal.

The page includes a branded sign in form with a "Remember me" option.

Please see comments for a screenshot of the HTML mockup.

[2018-10-19 15:17] gocemitevski opened #28 "Task: Create Dashboard page (for Platform Administrators) mockup"
The Dashboard page will be the first page Platform Administrators see once they are signed in. This page is intended to give an overview of the platform in a visually appealing and organized way.

The Dashboard includes content specific to Platform Administrators. It also provides access to different sub-pages which Platform Administrators have access to.

[2018-10-29 14:30] #26 closed, assigned to nobody

[2018-10-29 14:31] #25 closed, assigned to nobody

[2018-11-01 14:15] #12 closed, assigned to philipashlock, hkdctol, JJediny

[2018-11-05 09:13] michellecbox opened #29 "[Epic] As a Developer, I want to have specifications for the system so that I can work/develop various functionalities based on it"
1. As a Developer, I want to have a specification for CCA that will cover the necessary details for implementation so that I can refer to it and use it during the development process
https://github.com/GSA/datagov-ckan-multi/issues/23

2. As a Developer, I want to have a specification for the kubernetes architecture and setup, including all components and ansible requirements so that I can use it

[2018-11-05 09:38] michellecbox opened #30 "Platform admin functionality"
As a platform admin, I should be able to do everything an instance maintainer can

Tasks listed here: ViderumGlobal/ckan-cloud-provisioning-ui#9

[2018-11-05 09:44] michellecbox opened #31 "Custom DNS per instance"
As a platform admin, I should be able to create a custom DNS for my instance, so that it can have its own URL

[2018-11-05 09:44] michellecbox opened #32 "Add users"
As a platform admin, I can add users to the platform, and set their role (platform admin or maintainer)

Tasks listed here: ViderumGlobal/ckan-cloud-provisioning-ui#9

[2018-11-05 09:45] michellecbox opened #33 "View users and roles"
As a platform admin, I can view which users have access to the platform as well as their roles

Tasks listed here: ViderumGlobal/ckan-cloud-provisioning-ui#9

[2018-11-05 09:45] michellecbox opened #34 "Remove user"
As a platform admin, I can remove users from the platform (but not myself)

Tasks listed here: ViderumGlobal/ckan-cloud-provisioning-ui#9

[2018-11-05 09:48] michellecbox opened #35 "[Epic] As a Platform Admin, I want to manage instances and instance maintainers so that I control users and instances on my platform"
As a platform admin, I should be able to do everything an instance maintainer can
https://github.com/GSA/datagov-ckan-multi/issues/30
As a platform admin, I should be able to create a new instance, so that I can hand them over to instance maintainer
https://github.com/GSA/datagov-ckan-multi/issues/4
As a platform admin, when I create a new instance, I should automatically become an instance admin

[2018-11-05 09:49] michellecbox opened #36 "[Epic] As an Instance Maintainer, I want to manage various features of my instance so that I can customize it for my needs"
As an instance maintainer, I need to be able to login, so that I can administer the platform
https://github.com/GSA/datagov-ckan-multi/issues/1
As an instance maintainer, I want to be able to log in using SAML or OAuth to the platform, so I can use a tool I'm already using to log in
https://github.com/GSA/datagov-ckan-multi/issues/11
As an instance maintainer, I should be able to see a list of my

[2018-11-05 10:01] #2 closed, assigned to nobody

[2018-11-05 10:32] #7 closed, assigned to nobody

[2018-11-05 10:46] #9 closed, assigned to nobody

[2018-11-05 13:37] michellecbox opened #37 "TBD-Optional Setup instance size"
As an instance maintainer, I want to set up instance size so that I can easily manage it when creating an instance

[2018-11-05 13:39] michellecbox opened #38 "TBD-Optional Setup number of worker nodes"
As an instance maintainer, I want to set up a number of worker nodes so that I can easily manage it when creating an instance

[2018-11-05 13:45] michellecbox opened #39 "TBD-Optional Delete instance"
As a platform admin, I should be able to delete an existing instance

[2018-11-05 14:20] #6 closed, assigned to tanvirchahal

[2018-11-05 14:22] #27 closed, assigned to tanvirchahal

[2018-11-05 15:22] kimwdavidson opened #40 "User story creation"

[2018-11-05 15:57] #18 closed, assigned to akariv

[2018-11-06 08:45] OriHoch opened #41 "ckan helm: support values for configuring themes, extensions and predefined extensions"
to support the backend requirements for: #19, #10, #8

[2018-11-06 10:32] #13 closed, assigned to nobody

[2018-11-06 14:19] #31 closed, assigned to nobody

[2018-11-06 21:46] OriHoch opened #42 "should have specific use-case examples for the harvester"
ideally - a list of specific sites / sources which you expect to be harvesting from and details about the target destination for the harvesting.

[2018-11-07 08:59] #20 closed, assigned to tanvirchahal

[2018-11-15 09:15] #21 closed, assigned to philipashlock, hkdctol, JJediny

[2018-11-15 09:54] #41 closed, assigned to OriHoch

[2018-11-22 08:31] #23 closed, assigned to akariv

[2018-11-27 10:09] #24 closed, assigned to akariv

[2018-11-27 10:09] #29 closed, assigned to nobody

[2018-11-27 10:17] #28 closed, assigned to tanvirchahal

[2018-11-30 13:19] michellecbox opened #43 "Specification on Theme options"
As a Developer, I want to have a specification for the preferred Theme options so that I can use it during the development process

[2018-11-30 13:26] michellecbox opened #44 "TBD-Optional Provide full custom CSS file"
As an instance maintainer, I can fully configure the theme of my instance, so it matches the branding of my agency

[2018-12-04 10:00] #43 closed, assigned to akariv

[2018-12-04 10:04] michellecbox opened #45 "Set up images"
As a developer I want to setup ckan images (datapusher, harvester) according to GSA's configuration

[2018-12-12 09:55] michellecbox opened #46 "Create Networking/Data flow diagrams"
Networking/data flow diagrams for the communications around how the cca operater/jenkins/rancher/kubernetes/nginx/letsencrypt/etc are all working together to complement the current documentation

## Acceptance Criteria

John Jediny / Tom Wood / Andrew Bond understand to their satisfaction (?) the structure of the cluster

## Tasks

* [ ] Draft the diagram
* [ ] Test out with relevant parties
* [ ]

[2018-12-13 09:50] michellecbox opened #47 "Support External domains"

[2018-12-13 15:15] michellecbox opened #48 "Add USMetadata Extension"
https://github.com/GSA/USMetadata

[2019-05-21 21:08] adborden opened #98 "Multi-tenant platform security and ATO roadmap"
As a system owner, I need to know what high level milestones need to be met and in which order for ATO so that I have an idea of where the risks are, what objectives any sprint tasks need to meet, and have some measuring stick to approximate when the platform will be production ready.

## Acceptance criteria

- [x] Description of each milestone on the path to ATO.
- [x] Include some criteria that

[2019-06-03 14:10] kimwdavidson opened #51 "USDA Journey Mapping"

[2019-06-03 14:11] kimwdavidson opened #52 "USAID Journey Mapping"

[2019-06-03 14:12] kimwdavidson opened #53 "EPA Journey Mapping"
We'll be collecting information about the EPA's processes and needs to add to the product journey map.

Notes here:

https://docs.google.com/document/d/1SOmk8rRteOgW1VgN73tYvAIHvcAZZyby6FPVMqaNcXY/edit#

[2019-06-03 14:14] kimwdavidson opened #54 "Initial Pass at FedRamp Tailored Template"

[2019-06-03 14:16] kimwdavidson opened #55 "CKAN open control reusable component"

[2019-06-03 14:17] kimwdavidson opened #56 "Harvest improvement discovery"
User research and analysis to inform harvest improvement and provide next steps.

## Tasks

* [x] User interviews (x2) to get background and user epics
* [x] List of user epics
* [x] Existing code analysis of CKAN Harvesteer
* [x] Existing code analysis of harvesters esp of data.json harvester
* [x] Analysis for next steps

[2019-06-03 14:17] kimwdavidson opened #57 "Collect Harvest baseline metrics"

[2019-06-03 14:18] kimwdavidson opened #58 "Move tickets from Datopian repo to GSA Data.gov repo"

[2019-06-03 14:19] kimwdavidson opened #59 "Research and Set up logging"
User story:  As a cluster admin I want to be able to see and manage in one central location (rancher) logs from all containers in the cluster

## Acceptance criteria

* [x] Logging system installed and operational on GSA cluster

## Tasks

 * [x] Research options (and needs) and recommend => ELK looks good
 *  [x] Install ELK stack on the cluster  (assuming this is the one to go for)
   * [x] Set

[2019-06-03 14:21] kimwdavidson commented on #51
Kim and Hyon to provide availability

[2019-06-03 14:22] kimwdavidson commented on #52
Kim and Hyon to provide availability

[2019-06-03 14:22] kimwdavidson commented on #53
Kim and Hyon to provide availability

[2019-06-03 20:00] hkdctol commented on #53
June 6: 12:00 – 4 PM

June 10: 1-4 PM (for EPA, GSA has a conflict 3-4)

June 17: 1-4 PM

if you can pick one we can confirm EPA.

[2019-06-06 14:12] akariv commented on #30
Completed in stage #1

[2019-06-06 14:12] #30 closed

[2019-06-06 14:12] akariv commented on #32
Completed in stage #1

[2019-06-06 14:12] #32 closed

[2019-06-06 14:13] akariv commented on #33
Completed in stage #1

[2019-06-06 14:13] #33 closed

[2019-06-06 14:13] akariv commented on #34
Completed in stage #1

[2019-06-06 14:13] #34 closed

[2019-06-06 14:14] akariv commented on #17
Completed in stage #1 through rancher

[2019-06-06 14:14] #17 closed

[2019-06-06 14:25] akariv commented on #19
Completed in stage #1

[2019-06-06 14:25] #19 closed

[2019-06-06 14:26] akariv commented on #4
Completed in stage #1

[2019-06-06 14:26] #4 closed

[2019-06-06 14:26] akariv commented on #5
Completed in stage #1

[2019-06-06 14:26] #5 closed

[2019-06-06 14:27] akariv commented on #8
Completed in stage #1

[2019-06-06 14:27] #8 closed

[2019-06-06 14:28] akariv commented on #39
Completed in stage #1

[2019-06-06 14:28] #39 closed

[2019-06-06 14:28] akariv commented on #35
Completed in stage #1

[2019-06-06 14:28] #35 closed

[2019-06-06 14:29] akariv commented on #10
Completed in stage #1

[2019-06-06 14:29] #10 closed

[2019-06-06 14:29] akariv commented on #14
Completed in stage #1

[2019-06-06 14:29] #14 closed

[2019-06-06 14:31] akariv commented on #15
Completed in stage #1 via let's encrypt

[2019-06-06 14:31] akariv commented on #15
Completed in stage #1 via let's encrypt

[2019-06-06 14:31] #15 closed

[2019-06-06 14:35] akariv commented on #1
Completed in stage #1

[2019-06-06 14:35] #1 closed

[2019-06-06 14:39] akariv commented on #3
Completed in stage #1

[2019-06-06 14:39] #3 closed

[2019-06-06 14:40] akariv commented on #16
Completed in stage #1 via rancher

[2019-06-06 14:40] #16 closed

[2019-06-06 14:42] akariv commented on #37
Completed in stage #1 as instance kinds

[2019-06-06 14:42] #37 closed

[2019-06-06 14:43] akariv commented on #38
Completed in stage #1 as instance kinds

[2019-06-06 14:43] #38 closed

[2019-06-06 14:44] akariv commented on #40
Seems irrelevant, closing

[2019-06-06 14:44] #40 closed

[2019-06-06 14:45] akariv commented on #45
Completed in stage #1 via instance kinds

[2019-06-06 14:45] #45 closed

[2019-06-06 14:46] akariv commented on #47
Completed in stage #1

[2019-06-06 14:46] #47 closed

[2019-06-06 14:46] akariv commented on #48
Completed in stage #1

[2019-06-06 14:46] #48 closed

[2019-06-06 14:51] akariv opened #62 "Add GSA/ckanext-geodatagov to default instance"
https://github.com/ViderumGlobal/PM-datagov/issues/4

[2019-06-06 14:53] akariv opened #63 "Research and Analysis re harvesting etc"
https://github.com/ViderumGlobal/PM-datagov/issues/15

[2019-06-06 14:56] akariv opened #64 "Add GSA/ckanext-datagovtheme to default instance"
https://github.com/ViderumGlobal/PM-datagov/issues/5

[2019-06-06 14:57] akariv opened #65 "Research auto-scaling of cluster to match usage"

[2019-06-10 14:13] kimwdavidson opened #66 "Upgrade ckan-cloud-operator in cluster"

[2019-06-10 14:15] jqnatividad commented on #56
Will distribute a gdoc on June 10 to prep for the Harvest deep dive.

@kimwdavidson, can you add me as an assignee?

[2019-06-10 14:23] jqnatividad commented on #59
@JJediny mentioned during Jun 10 2019 standup that he prefers that we stay with typical k8s logging mechanisms rather than reinventing the wheel.

Also, all ideas welcome in terms of setting this up in a way consistent with GSA's "infrastructure as code" goals.

[2019-06-10 16:41] hkdctol commented on #51
Week of 6/17, USDA available between 1 and 3pm on M/T/Th/F. - from those options Data.gov could do Thursday or Friday.

[2019-06-13 13:58] woodt opened #67 "Initial import of FedRAMP Tailored Appendix B"

[2019-06-13 14:01] woodt opened #68 "Create turn-key capability to edit OpenControl content (probably using Docker)"

[2019-06-13 14:21] akariv commented on #66
- [ ] Re-install provisioning apps with new infrastructure
- [ ] Add new Jenkins commands
- [ ] Integrate provisioning API with Jenkins

[2019-06-14 14:03] woodt commented on #68
I'm thinking of something like this ...

[code]

The shell script will either use the `hypergrc` Docker image, or possibly build a new image, start a container with `_data/opencontrol` mounted in the right place.

[2019-06-17 14:13] kimwdavidson commented on #42
closing in favor of #56

[2019-06-17 14:13] #42 closed

[2019-06-17 14:17] kimwdavidson commented on #57
@JJediny to add metrics we're looking to collect

[2019-06-17 14:30] jqnatividad commented on #56
Here are the gdoc notes

https://docs.google.com/document/d/1Fw1lzKuy90kh84KlK3p3R-5fnQM7gH13UjZqIw3u-to/edit

[2019-06-17 20:19] hkdctol commented on #52
@kimwdavidson USAID is available July 10 from 10 am to 3:30 p.m. Data.gov team can make those times work--how about on your end?

[2019-06-20 17:07] adborden commented on #57
I'm a little unclear on what this issue is and why it's blocked by setting up logging. Does this cover getting the harvesters up and running? Because that does not require having logging setup.

[2019-06-23 16:23] rufuspollock commented on #63
Closing this as complete. This issue was created in April and the initial research on this was done in April and May leading up to the meeting on May 23.

Work included

* [x] research and analysis of existing data.gov CKAN setup
* [ ] research and analysis of current CKAN harvesting approach and current state
* [x] research and analysis of existing data.gov harvesting setup both at the general le

[2019-06-23 16:23] #63 closed

[2019-06-24 18:17] aabond commented on #59
@jqnatividad Would you happen to have any links or documentation regarding GSA's "infrastructure as code" goals?

[2019-06-27 09:37] rufuspollock commented on #56
We have collected all current epics from the discussions into a spreadsheet and have worked through quite a bit of the code analysis and are prepping an initial plan of work.

[2019-06-27 13:36] rufuspollock commented on #65
DUPLICATE of #22 now ...

[2019-06-27 13:36] #65 closed

[2019-06-27 13:51] rufuspollock commented on #58
FIXED.

[2019-06-27 13:51] #58 closed

[2019-06-27 13:55] akariv commented on #66
Adam Kariv [9:26 AM]
Updated links @JJediny
- Jenkins: https://cc-p-jenkins.datagov.us/
- Rancher: https://ckan-cloud-rancher.datagov.us/
- Provisioning app: https://ckan-cloud-app-provisioning.datagov.us

Jenkins is currently using Google as an auth provider, Rancher and Provisioning use GitHub as before.
You should have admin access to all systems.

[2019-06-27 14:16] #36 closed

[2019-06-27 14:24] kimwdavidson commented on #59
Need to determine what we want to be logging

[2019-07-01 14:05] rufuspollock opened #70 "[Epic] Harvesting Improvements Phase I"
In this initial phase we propose exploring a new "next gen" approach to harvesting. This will include standing up test instances of CKAN v2.8.

Pursuing two tracks

* Stand up internal test instances with latest CKAN Classic and install extensions
* CKAN Next Gen approach - create a clean separation of ETL that allows for easier development and testing of harvesters as well as better performance a

[2019-07-01 14:13] kimwdavidson opened #71 "Julie and Andres set up for Harvester work"
Julie and Andres will both:

* [x] Install CKAN Harvester extension
  * [x] Document how this worked in hackmd. Link in this ticket
  * [x] Add feedback to a hackmd about ease of installing harvester extension and link to this ticket
* [x] Install ckanext-datajson extension - http://github.com/gsA/ckanext-datajson/
* [x] Install geodata-gov extension - https://github.com/GSA/ckanext-geodatagov/

[2019-07-01 14:21] kimwdavidson commented on #70
@philipashlock to send list of harvest sources to @rufuspollock

[2019-07-01 14:29] kimwdavidson commented on #70
from john: to get this current list of our harvest sources w/ the metadata source endpoints, you can use this api call `https://catalog.data.gov/api/3/action/package_search?q=%28type:harvest%29&rows=1000`

[2019-07-08 06:12] rufuspollock commented on #70
Updated with more description and subtasks.

[2019-07-10 05:48] rufuspollock opened #72 "Improvements to CCO including GCP support"
We want to test the new CCO setup in a dev setup and document to make sure it is easy for others to use and get setup (and this includes checking GCP support as this is default deployment mode).

# Tasks

- [x] Run CKAN Cloud Operator from the v2 branch locally
- [x] Create a new k8s cluster in the sandbox project and document
- [x] Get up and running on Google Cloud (this should be relatively eas

[2019-07-10 12:17] rufuspollock opened #73 "Clean up codebase of base CKAN Cloud Docker image"
Recent deployments using the CKAN Cloud Docker codebase brought to light a range of potential improvements related to e.g. missing documentation, security improvements and ineffective deployment work flows.

Before diving into what needs to be done, let's review what [CKAN Cloud Docker][ccd] is, and why we use it.

[ccd]: https://github.com/ViderumGlobal/ckan-cloud-docker

CKAN Cloud Docker is a c

[2019-07-10 13:27] rufuspollock commented on #46
@akariv has this in progress and will have version to share by Friday or before.

[2019-07-10 13:48] kimwdavidson opened #74 "Full CCO documentation including Deployment Guide"
We want to create high quality "public release" grade documentation for the CKAN Cloud Operator and its use so that it is completely usable by others. Work may also include tidying the code base, publishing docs online etc.

Note: we want to document CCO as an open source tool -- that way we maximize potential for reuse and contribution. Thus design documents for general use and then document sepa

[2019-07-10 13:58] rufuspollock commented on #71
Andres has got this setup.

[2019-07-11 13:01] akariv opened #75 "Unit Testing CCO"
We want to test the CCO tool to ensure that functionality does not break when making changes to the code. In order to do so we'd like to create a suite of tests that will be run automatically on each proposed change.
These tests will be done as a way to ensure the correctness of new proposed version of CCO (which is now running on the GSA cluster).

# Tasks

- [x] Map current functionality of CCO

[2019-07-11 14:30] #52 closed

[2019-07-11 16:13] akariv commented on #46
This is a first draft of the flow diagram - any feedback would be most welcome:

https://hackmd.io/iRbcMO7BQ3-G7XaffqL-ag?both

@woodt @JJediny

[2019-07-11 16:17] akariv commented on #46
/cc @rufuspollock

[2019-07-11 17:39] adborden commented on #75
For the code coverage, is there an initial metric you're aiming for? Or is the goal to just make sure that we're measuring it to start?

[2019-07-11 20:13] adborden commented on #46
Embarrassed to ask, but I cannot figure how to export, download, or make the svg bigger from hackmd. Is it possible to generate the svg and include a download link so I can get a better look?

[2019-07-11 21:46] akariv commented on #46
I also uploaded to mermaid live editor:

[here](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggTFI7XG5cbiAgdXNlcl9hZG1pbigoUGxhdGZvcm08YnIvPkFkbWluKSlcbiAgdXNlcl9tYWludCgoUGxhdGZvcm08YnIvPk1haW50LikpXG4gIHVzZXJfY2thbl9hZG1pbigoSW5zdGFuY2U8YnIvPkFkbWluKSlcbiAgdXNlcl9ja2FuX3VzZXIoKEluc3RhbmNlPGJyLz5Vc2VyKSlcblxuICBzdWJncmFwaCBcImRhdGEuZ292IG5ldHdvcmtpbmcgZmxvdyBkaWFncmFtX

[2019-07-12 15:57] kimwdavidson opened #76 "Spike: Decoupled Harvester prototype"

[2019-07-12 21:46] adborden commented on #46
Unfortunately, when after downloading the SVG, I still cannot view it. Did it work for you?

![Screenshot from 2019-07-12 14-29-24](https://user-images.githubusercontent.com/509703/61159750-ecc4d500-a4b1-11e9-8e66-af2a832594ac.png)

I seem to be running into this half-resolved bug https://github.com/knsv/mermaid/issues/384#issuecomment-426008518

I had to [manually hack](https://gist.github.com/ad

[2019-07-12 22:09] adborden commented on #46
Why is the Database Proxy necessary? As a shared service, it seems like performance bottle neck and lack of isolation for security between CKAN instances.

[2019-07-13 12:08] akariv commented on #46
There are two main reasons for the DB proxy:

The first is to create a connection pool to the main DB.
DBs (in general, and specifically) have a limit on the number of concurrent connections. When running multiple CKAN instances on the same cluster, backed by the same database, you can hit that limit fast.
(I think that these DBs are usually tuned for size and throughput and not for concurrent use

[2019-07-15 14:38] kimwdavidson commented on #76
Duplicate. Closing

[2019-07-15 14:38] #76 closed

[2019-07-15 14:51] rufuspollock opened #79 "Part II - diffing against the existing datasets in CKAN"
Part II: do the same as Part I but with updating ...

* [x] start with test code ...
  * [x] data.json source and source_id ...
* [x] Get list of existing datasets on data.gov filtered by harvest_source_id
* [x] Compare both resources to find differences
* [x] Implement the change algorithm ...
  * [x] Analyze existing code and write out the algorithm (good practice anyway)
  * [x] then implement

[2019-07-15 14:52] rufuspollock opened #80 "Part III: automate running harvesting (e.g. jenkins etc) and pushing to metastore"
Automate running harvesting (e.g. jenkins etc) and pushing to metastore

## Tasks

* [x] Evaluate task runner options (e.g. jenkins, airflow)
* [x] Implement this
* [x] Implement pushing to metastore (if not already done)

[2019-07-15 14:53] rufuspollock opened #81 "Part I.b: save to CKAN metastore"
This is a raw push - assuming all datasets are new (i.e. without the diffing done in)

[2019-07-15 14:54] rufuspollock opened #82 "Part IV: integrate with CKAN config"
Integrate with config stored in CKAN harvest extension and pushing errors there

[2019-07-15 14:59] rufuspollock commented on #22
Google Kubernetes engine has built-in scaler. AWS didn't, but there's stable/cluster-autoscaler helm package.

We updated CCO code adding CLI command that configures autoscaler for both cases (it installs the helm package if cluster is in AWS).

Cluster Autoscaler is a tool that automatically adjusts the size of the Kubernetes cluster when one of the following conditions is true:

- there are pods

[2019-07-15 15:21] kimwdavidson opened #83 "Determine optimal upgrade path between new and legacy platform"
Assess existing functionality
Determine which features can be deprecated or replaced
Which features need to be refactored or rebuilt

[2019-07-15 15:42] kimwdavidson commented on #57
Closing for now

[2019-07-15 15:42] #57 closed

[2019-07-17 15:59] adborden opened #84 "CKAN Cloud login redirects to *.ckan.io with invalid certificate"
I tried logging into the CKAN Cloud at https://ckan-cloud-rancher.datagov.us/. On clicking login, I was redirected to [datagov-ckan-cloud-management.ckan.io](https://datagov-ckan-cloud-management.ckan.io) which was serving a certificate for [ckan-cloud-rancher.datagov.us](https://ckan-cloud-rancher.datagov.us/).

The redirect provides a clue. Looks like we need to update the configuration in the G

[2019-07-17 16:14] JJediny commented on #84
I just updated the url in the github Oauth developer setting to use the datagov.us callback, this should be working shortly

[2019-07-17 16:22] adborden commented on #84
Thanks! That did it.

[2019-07-17 16:22] #84 closed

[2019-07-18 14:20] woodt opened #85 "Evaluate CKAN logging w.r.t. NIST 800-53 AU family "content of audit log" control"
Evaluate out of the box CKAN logging against AU-3 guidelines.  Develop remediation (aka logging enhancement) proposal if needed.

Likely outcomes:
- no additional work needed
- OR, spec for patch or extension to CKAN to improve logging detail to better meet AU controls.

For example, here is the AU-3 description:

The information system generates audit records containing information that establish

[2019-07-18 16:51] adborden commented on #70
This is the AC I added:

[2019-07-18 21:28] adborden commented on #54
@woodt @kimwdavidson can you fill me on what there is to QA here?

[2019-07-18 21:33] adborden commented on #66
@akariv would you please add me as admin to Jenkins?

I noticed that Ori still owns the Google App, can you update that? Would you like me to open a ticket for it?
<img alt="Screenshot from 2019-07-18 14-30-56" src="https://user-images.githubusercontent.com/509703/61493648-f09c9f80-a968-11e9-8785-a429eca74b51.png" width="300" />

[2019-07-18 21:35] adborden commented on #66
Also, I may need admin access to the Provisioning app. Not sure if this is a bug or not. My GSA email is a secondary on my GH account, not sure if that's why I'm getting "No Access".
![Screenshot from 2019-07-18 14-34-24](https://user-images.githubusercontent.com/509703/61493797-4ffaaf80-a969-11e9-8e84-81c71eb1f6de.png)

[2019-07-18 21:39] adborden commented on #68
@woodt Are these instructions still correct? Am I in the right repo?
[code]

[2019-07-19 02:08] adborden commented on #66
To complicate things, looks like GSA is blocking me from logging into Jenkins with my gsa.gov Google Account. @JJediny have you seen this (cloudlock notification) when logging into jenkins?

[2019-07-19 03:47] akariv commented on #66
Aaron, I added you to the provisioning app (we're only considering the
primary email atm).
Regarding the Google App owner - I agree we should change that, but let's
open a separate issue for that please.

On Fri, Jul 19, 2019 at 5:08 AM Aaron D Borden <notifications@github.com>
wrote:

[2019-07-19 16:00] woodt commented on #68
Instructions are wrong!  I will update the README.  In the interim,

[code]

should do the trick.

[2019-07-19 19:08] kimwdavidson opened #86 "Assessment of current and desired state of CKAN tests"
Adam and Tom to discuss
Set up and run tests

[2019-07-19 19:20] kimwdavidson opened #87 "Build Security into the CI/CD Pipeline"

[2019-07-19 19:24] kimwdavidson opened #88 "Determine and document current state of the CI/CD pipeline"
Ensure all team members are synced on the current state of the pipeline. Likely an initial call to get synced at a high level, followed by follow up conversations and questions

- [x] Rufus to add documentation to this ticket
- [x] Team to read documentation
- [x] Extended call on Thurs Aug 8th to discuss

[2019-07-22 09:53] aluminiumgeek commented on #59
I added Jenkins job that installs and sets up ELK stack on the cluster.
It's now up and running on the GSA cluster.
Kibana external URL: http://a81ec16c3a6f511e987df021ee0764bf-2082103619.us-west-2.elb.amazonaws.com/app/kibana

Logstash is currently set up for TCP input. You will probably want to enable more input plugins. Here's the list of available input plugins: https://www.elastic.co/guide/en

[2019-07-22 23:51] adborden commented on #59
@aluminiumgeek can you link me to the relevant PR?

[2019-07-23 00:01] adborden commented on #59
@aabond we don't have any goals written down, though I would be happy to work with you in order to do that.

[2019-07-23 00:10] adborden opened #89 "Update the Google Application used to authenticate users to Jenkins"
https://github.com/GSA/datagov-ckan-multi/issues/66#issuecomment-512996728

Currently the Google Application for Jenkins is owned by Ori. We should replace it with an Application that we own.

[2019-07-23 16:57] adborden commented on #54
No need to over think this, is there a link the the template?

[2019-07-23 17:38] JJediny commented on #54
https://github.com/GSA/datagov-ckan-multi/blob/master/_drafts/APPENDIX-B-FedRAMP-Tailored.md

[2019-07-23 17:38] #54 closed

[2019-07-23 17:55] adborden commented on #68
Thanks @woodt I'll add this to the Readme.

BTW, I got this error when trying to edit a control. Is this expected?

[code]

[2019-07-23 18:02] adborden commented on #66
@kimwdavidson this looks good to me. Do I close this out or move this to the Done column?

[2019-07-23 18:12] adborden commented on #55
Is there a link for the relevant PR?

[2019-07-25 04:08] JJediny commented on #55
https://github.com/GSA/datagov-ckan-multi/tree/master/_data/opencontrol/components/CKAN the issue of having separate yaml files for each still exists and the completeness of the documentation is still open but could close as the initial pass was done

[2019-07-25 04:09] JJediny commented on #67
Done duplicative with #54

[2019-07-25 04:09] #67 closed

[2019-07-25 04:12] JJediny commented on #68
editing controls from the Readme in `/_data/opencontrol` is working for me to stand up hypergrc in docker; but need to agree on the concept of editing one `component.yaml` file vs one yaml file for each control family

[2019-07-25 13:22] rufuspollock commented on #72
Set up on the cluster. Ran CCO. Everything running but SOLR.

[2019-07-25 13:36] rufuspollock commented on #79
Done

* [x] Add new validations of data.json
* [x] Split the process in 3 parts and fix problems with dataflows
* [x] Save validation and comparison results
* [x] Documented existing algorithm

[2019-07-25 13:38] rufuspollock commented on #81
Work done so far

* Class and function writing to my local CKAN instance
* Create some adapters for translate data.json dataset to CKAN datasets.
* First test for this adapter

[2019-07-25 13:42] rufuspollock commented on #88
@woodt which CI/CD pipeline? For CKAN for CCO for ...?

[2019-07-25 13:44] kimwdavidson opened #91 "Migrate geodata-gov harvesting"

[2019-07-25 13:45] kimwdavidson opened #92 "Create tests for existing harvesters prior to migration"

[2019-07-25 14:39] thejuliekramer commented on #82
@rufuspollock what are you thinking is the plan of action here? Is there a specific API endpoint we can right errors to currently? Right now we can [get the admin users](https://docs.ckan.org/en/2.8/api/#ckan.logic.action.get.user_list) and [send them emails](https://docs.ckan.org/en/2.8/api/#ckan.logic.action.update.send_email_notifications) but I am not sure if this is what you are thinking. Let

[2019-07-25 15:55] woodt commented on #68
@adborden No, I don't think that error is expected.  What OS and Docker version are you using?

[2019-07-25 16:10] rufuspollock commented on #82
@thejuliekramer so first look at the structure of HarvestGatherError and HarvestObjectError and API for creating them.

Also what is the structure and type of errors we are current getting?

[2019-07-25 16:18] thejuliekramer commented on #82
Where is the API for creating them? That is accessible from outside of CKAN? The type of errors are dataset field errors, when missing or invalid. They are currently being ouput to a json file. Is the plan to handle to errors on the CKAN side or in the harvester? Should we send json or some other format to CKAN?

[2019-07-25 16:29] JJediny opened #93 "Test case: DOE combining 3 data.json sources w/ current implementation"
There are 3 data.json sources a test user is looking to combine and to test out using the multi-tenant product to harvest from and download the consolidated data.json post harvest:
- [ ] https://energy.gov/data.json
- [ ] https://openei.org/data.json
- [ ] https://www.archive.arm.gov/metadata/data.json

[2019-07-25 21:51] adborden opened #94 "HyperGRC editing fails on Linux with permission denied"
Running on Linux, I tried editing a control with HyperGRC and it failed.
Ubuntu 18.04
Docker version 18.09.7, build 2d0083d
[code]

## How to reproduce

1. `npm run edit-controls`
1. Open a control from a component http://localhost:8000/organizations/GSA-338246/projects/Data.gov+Mul-581f9e/components/CKAN
1. Make an edit, click Save

## Expected behavior

Save is valid, changes saved to `_data/ope

[2019-07-25 21:52] adborden commented on #94
I believe it's a uid mismatch issue.
[code]

[2019-07-25 21:55] adborden commented on #68
I opened https://github.com/GSA/datagov-ckan-multi/issues/94 re: the editing issue.

@JJediny do you want to open another issue for that? I think we can call this issue done.

[2019-07-25 21:58] adborden commented on #55
Thanks, moving to Done.

[2019-07-29 14:06] rufuspollock commented on #82
@thejuliekramer i don't know if an API is exposed - have you checked the Harvester extension docs and code for this? If not you may only be able to create them from within code.

[2019-07-29 14:27] rufuspollock opened #95 "Research needs for collections (and intersection with harvesting)"
This is a follow up to #83 to look in more detail at collections item with data.gov team and how this could be implemented going forward esp with more flexible harvesting.

[2019-07-29 14:27] rufuspollock commented on #83
I'm closing this as done but also opening new item #95 to look further at collections.

Plan as discussed with @adborden is:

* A cut-over to a clean system on v2.8 and reimplement what we need
* Most important is harvesting => want to see that first … [we are working on that now]
 * data.json
 * then geo harvesters
 * Features like: Retry failed jobs … and more insight into the process. How many

[2019-07-29 14:27] #83 closed

[2019-07-29 14:37] #71 closed

[2019-07-29 14:37] rufuspollock commented on #71
FIXED. This was done in last sprint.

[2019-07-29 14:38] rufuspollock commented on #56
FIXED.

[2019-07-29 14:38] #56 closed

[2019-07-29 14:39] rufuspollock commented on #46
@adborden @JJediny is it clear now and can we now close as fixed :-) ?

[2019-07-29 14:49] rufuspollock opened #96 "Improvements and more testing of Harvest "diffing" algorithm"
The comparison / diffing algorithm is working but more work is needed esp to check against existing extension and exactly how it works

* [x] Write out new algorithm in documentation  and old algorithm
* [x] Make any changes based on that
* [x] Mock all tests (so no need for a local CKAN instance)
* [x] More tests (?)

[2019-07-29 14:50] rufuspollock commented on #79
FIXED. There is some follow up work in #96.

[2019-07-29 14:50] #79 closed

[2019-07-29 14:52] rufuspollock commented on #81
We are able to save to CKAN local instance. We need to add resources creation and check all the extras and data saved in the previous CKAN extensions. We need to check all the harvest process with our local CKAN instance.

[2019-07-29 14:55] adborden commented on #46
Is the purpose of the diagram Tobe used for our SSP? If so I think there are some additional things we want to capture (I can provide more guidance on that).

Otherwise I understand this and we can call this done.

[2019-07-29 15:01] rufuspollock commented on #92
DUPLICATE now of #91 and #96 etc.

[2019-07-29 15:01] #92 closed

[2019-07-29 15:06] #22 closed

[2019-07-29 15:06] rufuspollock commented on #22
FIXED.

@aluminiumgeek can you link docs / code on this that would fulfil acceptance criteria ... (if there are docs)

[2019-07-29 15:06] #51 closed

[2019-07-29 15:06] rufuspollock commented on #53
FIXED. This happened.

[2019-07-29 15:06] #53 closed

[2019-07-29 15:13] kimwdavidson commented on #88
Everyone to review documentation by August 6th

[2019-07-29 15:14] rufuspollock commented on #88
CKAN CI can be seen (using circleci!) is here: https://github.com/ckan/ckan

ATM CCO does not have automated tests (they are being worked on in #75) - https://github.com/ViderumGlobal/ckan-cloud-operator

[2019-07-29 17:46] thejuliekramer commented on #82
Yes they use the api I mentioned above, seems like this is the way to go.

[2019-07-29 20:41] adborden commented on #46
Clarified, this issue can be closed. We'll circle around again to do more formal network diagrams for the SSP in another issue.

[2019-07-29 20:41] #46 closed

[2019-07-30 06:31] aluminiumgeek commented on #22
[Autoscaling on GCP](https://github.com/ViderumGlobal/ckan-cloud-operator/blob/master/docs/PRODUCTION-GCLOUD-CLUSTER.md#optional-enable-autoscaling
)
[Autoscaling on AWS](https://github.com/ViderumGlobal/ckan-cloud-operator/blob/master/docs/PRODUCTION-AWS-CLUSTER.md#optional-enable-autoscaling)

[2019-07-30 15:57] #55 closed

[2019-07-30 15:57] #66 closed

[2019-07-30 15:57] #68 closed

[2019-07-30 15:57] #72 closed

[2019-07-30 15:57] #73 closed

[2019-07-31 23:50] adborden commented on #59
@kimwdavidson @aluminiumgeek I haven't been able to QA this work. Is there a PR or instructions on how to QA?

[2019-08-01 17:10] thejuliekramer opened #97 "Notify CKAN Admins Via Email Service"
## User Story

We are generating an email per issue #82, we need to now send it via a third party email service

## Details / tasks
- [ ] Decide on what email service
- [ ] Send email

[2019-08-05 11:13] akariv commented on #93
From analyzing this issue I got:
- There was a logging problem in the ckan pods (the formatting string was misconfigured which prevented logs from being emitted).
I fixed in ckan-cloud-helm (and released version 0.0.8) and datagov-ckan-provisioning-api to use this version. Also redeployed the provisioning app and I updated the relevant ckan instance.
After updating logging works as well as harvest

[2019-08-05 11:43] akariv opened #99 "RDS went offline on the cluster"
All instances in the cluster are currently down because RDS is not responding.
(credentials for RDS can be found in each of the instances secrets)

## How to reproduce

1. Description of steps to reproduce the issue.
All ckan pods in all instances are in a crashloop because of this.

## Expected behavior

RDS should respond and ckan instances can connect to it.

---

We need to understand what hap

[2019-08-05 12:21] aluminiumgeek commented on #75
[Test suite document (spreadsheet)](https://docs.google.com/spreadsheets/d/1CNBdTL-3s_jlEpB7_vcknqnpkKFWkWfyWVlHFYMVnHc/edit?usp=sharing)

[Pull request](https://github.com/ViderumGlobal/ckan-cloud-operator/pull/63)

Also added new command that runs test suite and collecting coverage metrics: `ckan-cloud-operators test`.

CI runs test suite on every push / pull request.

[2019-08-05 14:20] akariv commented on #75
Thanks, looks really good.
I left a small review comment (next time please ask a review via the GitHub
interface please :) )
Is there any indication of current test coverage?

On Mon, Aug 5, 2019 at 3:21 PM Mikhail Mezyakov <notifications@github.com>
wrote:

[2019-08-05 14:37] woodt commented on #85
# Control description

[AC-2]

The information system generates audit records containing information that
establishes what type of event occurred, when the event occurred, where the
event occurred, the source of the event, the outcome of the event, and the
identity of any individuals or subjects associated with the event.

## Event types

* Administrative privilege use
* Password changes
* Creatio

[2019-08-05 15:14] kimwdavidson commented on #86
@woodt to make tickets

[2019-08-05 15:16] kimwdavidson commented on #99
@akariv and @woodt don't have access. @adborden to take a look and see about getting them access.

[2019-08-05 15:28] kimwdavidson commented on #91
@avdata99 to split this into smaller tickets

[2019-08-05 15:29] kimwdavidson opened #100 "UI discovery for provisioning app"

[2019-08-05 15:30] kimwdavidson opened #101 "Test GSA migration to new platform"

[2019-08-05 18:35] woodt commented on #88
(Thanks Rufus ...)  So I have been thinking about how to capture the CI/CD pipeline info.  Here's my pass at a way of structuring the information:  https://docs.google.com/spreadsheets/d/1nFnu_5R_kVAyuwpS2EFRSEUsq54uUCjFD5Zibhanrxk/edit?usp=sharing

[2019-08-07 10:07] rufuspollock commented on #88
@woodt thanks - i have requested access to that doc.

[2019-08-07 13:10] avdata99 opened #103 "Create a new CSW harvester"
Part of EPIC at #91. Migrate the [geodatagov](https://github.com/GSA/ckanext-geodatagov/tree/master/ckanext/geodatagov) CKAN extension.

**Create a new CSW harvester** based on the previous harvester: [GeoDataGovCSWHarvester](https://github.com/GSA/ckanext-geodatagov/blob/80b72945926134f0d9d3fb59741284332672cac4/ckanext/geodatagov/harvesters/arcgis.py#L61)

## Tasks

* [ ] Analyse existing harvest

[2019-08-07 13:11] avdata99 opened #104 "Create a new Arcgis harvester"
Part of EPIC at #91. Migrate the [geodatagov](https://github.com/GSA/ckanext-geodatagov/tree/master/ckanext/geodatagov) CKAN extension.

**Create a new arcgis harvester** based on the previous harvester: [ArcGISHarvester](https://github.com/GSA/ckanext-geodatagov/blob/80b72945926134f0d9d3fb59741284332672cac4/ckanext/geodatagov/harvesters/arcgis.py#L61)

## Tasks

* [ ] Analyse existing harvester c

[2019-08-07 13:11] avdata99 opened #105 "Create a new WAF harvester"
Part of EPIC at #91. Migrate the [geodatagov](https://github.com/GSA/ckanext-geodatagov/tree/master/ckanext/geodatagov) CKAN extension.

**Create a new WAF harvester** based on the previous harvester: [GeoDataGovWAFHarvester](https://github.com/GSA/ckanext-geodatagov/blob/80b72945926134f0d9d3fb59741284332672cac4/ckanext/geodatagov/harvesters/arcgis.py)

## Tasks

* [ ] Analyse existing harvester c

[2019-08-07 13:12] avdata99 opened #106 "Create a new DOC harvester"
Part of EPIC at #91. Migrate the [geodatagov](https://github.com/GSA/ckanext-geodatagov/tree/master/ckanext/geodatagov) CKAN extension.

**Create a new DOC harvester** based on the previous harvester: [GeoDataGovDocHarvester](https://github.com/GSA/ckanext-geodatagov/blob/80b72945926134f0d9d3fb59741284332672cac4/ckanext/geodatagov/harvesters/arcgis.py)

## Tasks

* [ ] Analyse existing harvester c

[2019-08-07 13:12] avdata99 opened #107 "Create a new GeoPortal harvester"
Part of EPIC at #91. Migrate the [geodatagov](https://github.com/GSA/ckanext-geodatagov/tree/master/ckanext/geodatagov) CKAN extension.

**Create a new GeoPortal harvester** based on the previous harvester: [GeoDataGovGeoportalHarvester](https://github.com/GSA/ckanext-geodatagov/blob/80b72945926134f0d9d3fb59741284332672cac4/ckanext/geodatagov/harvesters/arcgis.py)

## Tasks

* [ ] Analyse existing

[2019-08-07 13:13] avdata99 opened #108 "Create a new Z3950 harvester"
Part of EPIC at #91. Migrate the [geodatagov](https://github.com/GSA/ckanext-geodatagov/tree/master/ckanext/geodatagov) CKAN extension.

**Create a new Z3950 harvester** based on the previous harvester: [Z3950Harvester](https://github.com/GSA/ckanext-geodatagov/blob/80b72945926134f0d9d3fb59741284332672cac4/ckanext/geodatagov/harvesters/z3950.py)

## Tasks

* [ ] Analyse existing harvester code.
*

[2019-08-07 13:13] avdata99 opened #109 "Create a new WAF Collection harvester"
Part of EPIC at #91. Migrate the [geodatagov](https://github.com/GSA/ckanext-geodatagov/tree/master/ckanext/geodatagov) CKAN extension.

**Create a new WAF Collection harvester** based on the previous harvester: [WAFCollectionHarvester](https://github.com/GSA/ckanext-geodatagov/blob/80b72945926134f0d9d3fb59741284332672cac4/ckanext/geodatagov/harvesters/waf_collection.py)

## Tasks

* [ ] Analyse e

[2019-08-07 21:38] adborden commented on #99
The RDS instance is back online.

[2019-08-07 21:49] adborden commented on #85
Thanks @woodt. I agree that Approach 1 sounds the most promising. I would add that we include automated tests so that the logging doesn't disappear in some kind of future refactor.

Would there be any benefit to having another CKAN expert review this? The issue about not being able to connect the activity to the request information seems like something we want to address.

[2019-08-07 23:37] adborden commented on #93
@akariv thanks for looking into this. Still trying to figure out how everything fits together, so I've got some questions for ya:

I saw https://github.com/ViderumGlobal/datagov-ckan-cloud-provisioning-api/commit/2ab41508726b9ffe5cf859a19670f61cca815ccf but how does that get deployed? Is that a manual command, or running a job in Jenkins, or something else?

Can you elaborate on the initialization

[2019-08-08 04:39] akariv commented on #93
@adborden

This is manually deployed at the moment, no CI or Jenkins job.
In fact, the k8s cluster is using the 'latest' tag on the image so deleting
the provisioning api pod is sufficient for redeploying.
This app is deployed using CCO, so the 'correct' way to deploy (without pod
deletion hacks) would be to edit the app spec in cco and change the image
tag to the latest hash.
(i.e. something like

[2019-08-08 13:33] #99 closed

[2019-08-08 13:34] rufuspollock commented on #74
Started and in early stages.

[2019-08-08 13:35] aluminiumgeek commented on #99
@adborden could you describe what happened with the instance, please?

[2019-08-08 13:35] rufuspollock commented on #88
@woodt i have had a look and looks fine. Not sure if much to comment on yet :-)

[2019-08-08 13:37] #95 closed

[2019-08-08 13:39] #96 closed

[2019-08-08 14:38] avdata99 commented on #81
We added the creation of the resources. Tests at the local CKAN instance are working.
This is done.

[2019-08-08 14:38] #81 closed

[2019-08-08 15:36] #82 closed

[2019-08-08 15:47] kimwdavidson commented on #59
@rufuspollock to add QA instructions

[2019-08-08 15:54] kimwdavidson opened #110 "Update deployment process for new harvester"

[2019-08-08 15:57] kimwdavidson commented on #98
For reconsideration when we know about FedRAMP vs. tailored

[2019-08-08 17:13] adborden commented on #75
@aluminiumgeek thanks! This looks good. I assume all the items in the spreadsheet are covered? If so you can go ahead and merge that PR from my perspective and I will close this out.

[2019-08-12 13:50] rufuspollock commented on #80
We have the airflow job working.

[2019-08-12 13:56] rufuspollock commented on #97
I don't think we want to notify via email per harvest error. We want to log locally and then push those into CKAN metastore or another log analysis environment (the latter may be better in fact).

[2019-08-12 14:07] aluminiumgeek commented on #75
@adborden

Correct. I merged the PR.

@akariv

Yes. `ckan-cloud-operator test` command or `coverage run -m unittest discover` command collects and prints coverage stats.

[2019-08-12 14:12] kimwdavidson opened #111 "Collections user research"

[2019-08-12 14:22] avdata99 commented on #80
![Selection_2123.png](https://images.zenhubusercontent.com/5d0fa29f8356d802835f2561/9cc98d29-d4b8-4ece-8468-5262adc37cc0)

This is our first _airflow_ script to put all the harvest jobs in a queue:
https://gitlab.com/datopian/ckan-ng-harvest/blob/develop/automate-tasks/airflow/harvest_with_airflow.py

[2019-08-12 14:31] avdata99 opened #112 "Analyze what to do with the harvest sources without headers:"
Check the harvest sources without headers:
 - http://www.fhfa.gov/data.json	FHFA JSON
 - https://raw.githubusercontent.com/gbinal/data/master/datasets/doi_cas.json	DOI CAS datajam
 - https://raw.githubusercontent.com/gbinal/data/master/datasets/hhs_cas.json	HHS CAS JSON
 - https://raw.githubusercontent.com/gbinal/data/master/datasets/doj_cas.json	DOJ CAS datajam
 - http://phlapi.com/data.json	phla

[2019-08-12 14:32] avdata99 opened #113 "Analyze what to do with the non-utf8 harvest sources"
Check the non-utf8 sources:
 - http://www.defense.gov/data.json	DOD JSON
 - http://www.nrc.gov/data.json	NRC Data.json Harvest Source
 - http://www.usitc.gov/data.json	USITC Data.json Source
 - http://www.lsc.gov/data.json	Legal Services Corporation Data.json Harvest Source
 - http://open.whitehouse.gov/data.json	open-white-house
 - http://clt.charlotte.opendata.arcgis.com/data.json	Charlotte City

[2019-08-12 14:37] avdata99 opened #114 "More work on Jenkins / Airflow setup for harvesting"
To polish up an admin and/or CLI interface for running harvester and providing overview.

First Airflow script working: https://gitlab.com/datopian/ckan-ng-harvest/blob/develop/automate-tasks/airflow/harvest_with_airflow.py

refer to zenhub issue # 137 which is related issue to this one

## Acceptance Criteria

* [x] Way to run / rerun harvesters
* [x] See status of running or run harvester

## Ta

[2019-08-12 14:41] adborden commented on #99
The instance ran out of space. It was configured for 20GB, I bumped it up to 40GB. The instance was manually stood up.

[2019-08-12 14:47] woodt opened #115 "Provide automation for creating provisioning and maintenance Jenkins jobs"
We identified that the Jenkins jobs that coordinate the provisioning and maintenance operations on the cluster need to be created manually.

There should be automation (in a git repo) to create these jobs so that the process can be easily reproduced.

[2019-08-12 14:48] woodt commented on #88
I think we should consider this story complete when we finish the spreadsheet.

[2019-08-12 14:51] woodt opened #116 "Write tests for CKAN provisioning API"
Based on the inspection that Adam and I did, there don't seem to be any tests for the CKAN provisioning API.

[2019-08-12 14:52] woodt opened #117 "Write tests for CKAN provisioning UI"
Based on inspection performed by Adam and myself, there don't seem to be any tests for the CKAN provisioning UI.

[2019-08-12 14:54] woodt opened #118 "Assess CKAN extension test coverage"
[ ] Identify target list of extensions
[ ] Assess test coverage
[ ] Identify holes, create new stories, prioritize

[2019-08-12 15:03] #75 closed

[2019-08-12 15:09] rufuspollock commented on #80
FIXED.

[2019-08-12 15:09] #80 closed

[2019-08-12 15:10] #70 closed

[2019-08-12 15:10] tkprmr commented on #86
@woodt created all required tickets for this so this can be closed.

[2019-08-12 15:10] #86 closed

[2019-08-12 15:26] thejuliekramer commented on #112
Spoke with @acouch about this. We are going to not accept datasets without headers. We are logging these errors and will notify the agencies in the future about this.

[2019-08-12 15:26] #112 closed

[2019-08-12 15:26] thejuliekramer commented on #113
Spoke with @acouch about this. We are going to not accept datasets without the type in the headers. We are logging these errors and will notify the agencies in the future about this.

[2019-08-12 15:27] avdata99 commented on #113
If we do not have a correct character set in the headings, we will notify @adborden to follow up with the owner of data.json to correct it

[2019-08-12 15:48] thejuliekramer commented on #113
* http://www.defense.gov/data.json no content or charset header
* http://www.nrc.gov/data.json Content-Type => application/json - no charset header
* http://www.usitc.gov/data.json no content or charset header
* http://clt.charlotte.opendata.arcgis.com/data.json -  Content-Type => text/html no charset header
* http://www.data.va.gov/data.json - no content or charset header

[2019-08-12 18:16] thejuliekramer commented on #113
@adborden these have the content type and dataset but are not valid json

* http://www.lsc.gov/data.json Content-Type => text/html; charset=iso-8859-1
* http://open.whitehouse.gov/data.json Content-Type => text/html; charset=utf-8
* https://flcbusiness.federallabs.org/data.json Content-Type => text/html; charset=iso-8859-1

how should we treat these cases? skip and notify the admins?

[2019-08-12 21:11] adborden commented on #113
Thanks for looking into these. Yes, record the error, skip, and notify.

[2019-08-12 21:44] adborden commented on #93
This looks good, thanks!

[2019-08-12 21:44] #93 closed

[2019-08-13 12:31] rufuspollock commented on #59
@kimwdavidson this one i don't think was for me. It should be for @aluminiumgeek (and @akariv). @aluminiumgeek  will update.

[2019-08-14 06:36] aluminiumgeek commented on #59
@adborden

CCO itself doesn't contain code for ELK setup.

I've created a Jenkins job that installed and configured ELK on the cluster from scratch. [Here is it](https://cc-p-jenkins.datagov.us/job/Set%20up%20ELK/).

To see available pods in stack, run
`kubectl -n elasticsearch get po`

Logstash is currently set up for TCP input. So you could test it with `netcat` or other similar utility:
[code]

[2019-08-14 10:01] akariv commented on #59
We should probably add an issue with the following task -

-  Connect instances to the logging system
- configure logatash to parse ckan logs correctly
- set up domain and authentication on kibana instance

Acceptance criteria:
Being able to easily read the logs of a specific instance from a specific
time range

On Wed, Aug 14, 2019, 08:36 Mikhail Mezyakov <notifications@github.com>
wrote:

[2019-08-15 00:38] adborden commented on #59
@aluminiumgeek so if we lose the Jenkins instance, how can we re-create the job? Is it documented? It looks like it's mostly kubectl configuration, why can't that be bundled into a helm chart or similar?

[2019-08-15 12:01] avdata99 commented on #103
Real Life cases (from catalog.data.gov):
 - Alaska LCC CSW Server: http://metadata.arcticlcc.org/csw
 - NC OneMap CSW: http://data.nconemap.com/geoportal/csw?Request=GetCapabilities&Service=CSW&Version=2.0.2
 - USACE Geospatial CSW: http://metadata.usace.army.mil/geoportal/csw?Request=GetCapabilities&Service=CSW&Version=2.0.2
 - 2017_arealm: https://meta.geo.census.gov/data/existing/decennial/GEO/

[2019-08-15 12:57] aluminiumgeek commented on #74
I moved the repo to Datopian organization. Updated the code to point to the new repository URL.

I'll start working on other things next week.

[2019-08-15 13:53] tkprmr commented on #74
Hi Mikhail, can you post the link of the document also so whoever wants to start reviewing then can do so

[2019-08-15 13:58] adborden commented on #115
One example is the ELK cluster https://github.com/GSA/datagov-ckan-multi/issues/115

[2019-08-15 14:02] adborden opened #120 "Setup and configure Jenkins with automatic updates"
## User Story
As an operator, I want Jenkins to be configured with automatic updates so that when an update is available for Jenkins or one of its plugins, the Jenkins instance is rebuilt or updated automatically without human intervention.

## Details / tasks
Looks like there are some security updates available for Jenkins that are not being applied.
![Screenshot from 2019-08-15 06-54-10](https:/

[2019-08-15 15:29] hkdctol commented on #113
We are going through harvest sources/doing some clean up. Some of the ones you're looking at are outdated. Defense - they will be restarting their open data effort. The whitehouse.gov one is obsolete, as is the VA one. If you need information from the other agencies we can track that down.

[2019-08-19 15:12] thejuliekramer commented on #113
When the data source is in an invalid format we are skipping the validation/import process and adding these errors to the main list of errors that will be emailed to admins.

[2019-08-19 15:12] #113 closed

[2019-08-19 15:28] tkprmr opened #121 "Redeploy platform from Scratch"

[2019-08-19 15:31] thejuliekramer opened #122 "Harvester Cleanup Task - Testing"
Improve test coverage in new harvester processes

[2019-08-22 09:44] jqnatividad commented on #74
The repo is at https://github.com/aluminiumgeek.

To track this more easily, converted this to an Epic, and broke up the different deliverables to its own ticket.

[2019-08-22 09:55] jqnatividad opened #123 "CCO Documentation: DevOps Guide"
* [x] Overview
  * [x] Architecture diagram of key sub-components
* [x] Installation and quick start
    * [x] Supported clouds
* [x] Kubernetes setup etc. Docker files etc
* [x] UI setup and usage
* [x] Setting up logging
* [x] Security

[2019-08-22 09:58] jqnatividad opened #124 "CCO Documentation: User Guide"
* [x] Architecture
* [x] Contributing
* [x] Repos
* [x] Features wanted (link to issues)

[2019-08-22 12:29] jqnatividad commented on #114
In preparation for testing and installation from scratch (https://app.zenhub.com/workspaces/datagov-multi-tenant-ckan-5cf12b601437ff1e943f0aa2/issues/gsa/datagov-ckan-multi/121), an INSTALL.md was created by @avdata99

[2019-08-22 16:23] woodt commented on #118
Here's the current list of extensions.

Extension	Repo
xloader	https://github.com/ckan/ckanext-xloader.git
harvest	https://github.com/ckan/ckanext-harvest.git
*datajson	https://github.com/akariv/ckanext-datajson.git (MISSING TESTS)*
archiver	https://github.com/ckan/ckanext-archiver.git
*report	https://github.com/datagovuk/ckanext-report.git (MISSING TESTS)*
dcat	https://github.com/ckan/ckanext-dca

[2019-08-22 17:02] adborden commented on #106
Can you clarify what the DOC harvester is? The link points to the arcgis harvester.

[2019-08-22 19:24] avdata99 commented on #106
I fixed the link. Is about the [DocHarvester](https://github.com/GSA/ckanext-spatial/blob/datagov/ckanext/spatial/harvesters/doc.py#L15).

[2019-08-22 19:38] avdata99 commented on #106
This is the list of harvest sources with type: **single-doc**:
 - Aid Dashboard: https://www.dropbox.com/s/4hri6qr3k6ehttb/CCAPS-Aid-Dashboard.xml
 - Building the Climate Security Vulnerability Model: https://utexas.box.com/s/gs3xaf8fuha1haa1xvsk
 - NGDA NAIP HVS: https://gis.apfo.usda.gov/geoharvest/NAIP17/Current_Year_NAIP_Imagery_NGDA.xml
 - NAIP NGDA 2017 Planned Marketplace HVS: https://gis.a

[2019-08-25 10:47] aluminiumgeek commented on #123
DevOps Guide is available [here](https://github.com/datopian/ckan-cloud-operator/blob/full-documentation/docs/DOCUMENTATION.md#devops-giude)

[2019-08-25 10:51] aluminiumgeek commented on #74
@tkprmr
Full documentation is [here](https://github.com/datopian/ckan-cloud-operator/blob/full-documentation/docs/DOCUMENTATION.md). It currently contains DevOps guide. Other parts are coming.

[2019-08-25 12:21] aluminiumgeek commented on #124
User Guide section is [here](https://github.com/datopian/ckan-cloud-operator/blob/full-documentation/docs/DOCUMENTATION.md#user-guide)

[2019-08-25 12:22] aluminiumgeek commented on #74
Updated [docs](https://github.com/datopian/ckan-cloud-operator/blob/full-documentation/docs/DOCUMENTATION.md) adding User Guide section.

[2019-08-26 11:46] tkprmr opened #125 "Upgrade from V2.3 to V2.8"
This follows up the analysis work in #83 (and in #95 re collections).

Plan as discussed with @adborden is:

* A cut-over to a clean system on v2.8 and reimplement what we need
* Most important is harvesting => want to see that first … [we are working on that now]
  * data.json
  * then geo harvesters
  * Features like: Retry failed jobs … and more insight into the process. How many jobs are queue

[2019-08-26 11:48] tkprmr opened #126 "2.8 clean install with core functionality (harvest, theme, collections)"
## User Story

## Details / tasks

## Acceptance Criteria
- [ ] Something

[2019-08-26 14:53] rufuspollock opened #127 "Logging Setup is Automated in Code / Config + Docs"
This is a follow on from #59 where we had an ELK set up in Jenkins.

As an operator, I want the logging stack defined in code and deployed automatically with the existing stack so that I can make changes to infrastructure via auditable, versioned code changes and deploy those changes the same way I deploy the rest of the stack.

## Acceptance Criteria

* [ ] You can now deploy the logging as part

[2019-08-26 14:54] rufuspollock commented on #59
@adborden so we track this work I've created a follow up dedicated issue in #127. I wonder if we could close this and follow up there? wdyt?

[2019-08-26 15:02] rufuspollock opened #128 "Cohere and QA CCO docs together including home page"
We need to pull the docs into a coherent whole, QA them and publish them properly in one place so they are easy to find and navigate and we also encourage others to contribute.

[2019-08-26 15:21] rufuspollock opened #129 "Harvesting Deployment into CKAN Cloud"
We want to deploy the harvesting as part of the multi-tenant / CKAN Cloud.

## Acceptance criteria

* [ ] Harvesting system deployed as part of CKAN Cloud deploy with config in code (helm etc)
* [ ] Admin interface is available

## Tasks

* [ ] Helm chart for this setup
  * [ ] Airflow
  * [ ] Runners for harvesting
* [ ] Tests
* [ ] Documentation

[2019-08-26 15:39] rufuspollock opened #130 "v2.8 running with data.gov theme"
We want to start migration of existing data.gov by booting CKAN v2.8 and migrating the theme.

## Acceptance Criteria

* [ ] Site running with theme

## Tasks

* [ ] Clean CKAN v2.8 install
* [ ] Migrate data.gov theme
* [ ] Use Bootstrap 3 to be compatible with CKAN 2.9
* [ ] Add tests

[2019-08-26 15:44] rufuspollock opened #131 "Migrate data (maybe sample) from old catalog into v2.8"
## Tasks

* [x] Analysis needed e.g. do we start with full db dump and then run the migration?

[2019-08-26 16:31] jqnatividad opened #133 "Setup access to GSA AWS environment for external team members with requisite clearance"
## User Story
As an authorized external team member (CivicActions/Datopian personnel with GSA security clearance), I need to get access to GSA's AWS environment to test, deliver and troubleshoot project deliverables.

## Details / tasks
As part of validating the CCO deliverables and documentation (#74), Joel will need access to GSA's AWS environment.  He will also help deploy/deliver project deliv

[2019-08-29 12:32] jqnatividad commented on #114
On a related note, it'd be great if we can provision external access to a devt and UAT environment.  Opened ticket here - https://app.zenhub.com/workspaces/datagov-multi-tenant-ckan-5cf12b601437ff1e943f0aa2/issues/gsa/datagov-ckan-multi/133

[2019-08-29 12:44] jqnatividad opened #134 "CCO Documentation: Developer Guide"
### Developer Guide
* [x] Environment
* [x] Code overview
* [x] Contributing
* [x] Testing

[2019-08-29 14:03] avdata99 commented on #131
We can start deploying CKAN, run the harvesters and check what is missing.
The harvesters also migrate _organizations_ and _harvest sources_ so maybe this will be enough.
If not, we can define tickets to migrate all the missing tables.

I talked to Joel and the full database migrator runs between minor version. It will difficult to go from 2.3 to 2.8 if is not strictly necessary.

[2019-09-05 08:32] aluminiumgeek commented on #134
Developer guide is [ready](https://github.com/datopian/ckan-cloud-operator/blob/full-documentation/docs/DOCUMENTATION.md#developer-guide)

[2019-09-05 08:47] akariv opened #135 "Connect CKAN instances to logging infrastructure"
## User Story

As an administrator, I would like to be able to read a single CKAN instance logs using a web ui so that I can easily see and debug all component events for a single instance.

## Details / tasks

- [x]  Connect instances to the logging system
- [x]  configure logatash to parse ckan logs correctly

## Acceptance Criteria
- [x] Being able to easily read the logs of a specific instance

[2019-09-05 12:59] avdata99 commented on #130
We are working in a clean CKAN 2.8 instance at docker for local harvestings tests: https://gitlab.com/avdata99/docker-ckan-harvesting/.

We already put some extension and plan to use it to test the theme migrated. We validate this idea with @jqnatividad

[2019-09-05 13:41] tkprmr commented on #85
@jqnatividad to follow up with @rufuspollock on this to see if he can help to review

[2019-09-05 13:44] tkprmr commented on #118
@akariv to help with QA review on this

[2019-09-05 13:49] tkprmr commented on #127
related to #135

[2019-09-05 14:13] jqnatividad opened #136 "Setup interim UAT environment in AWS sandbox"
## User Story

As a reviewer, I need a UAT environment to conduct acceptance testing of deliverables.

## Details / tasks

GSA already has an AWS sandbox environment to which select team members who need to review deliverables can be given access.

Grant access/permission to authorized external team members

We will use this as our interim UAT environment.

## Acceptance Criteria
- [x] Sandbox onb

[2019-09-05 15:18] jqnatividad opened #137 "Setup Harvester NG Sandbox"
## User Story

As a developer/reviewer, I need a sandbox environment to develop/refine the new Airflow-based Harvester framework.

## Details / tasks

The legacy harvester framework had a monolithic architecture that was hard to maintain, troubleshoot and support.  The next-generation harvester uses a more modern, decoupled architecture that leverages Apache Airflow - it enables quick development

[2019-09-05 15:20] jqnatividad commented on #114
As discussed during Aug 29 check-in, there is already an AWS sandbox environment that the team can use per @adborden.

We will use the Sandbox environment to test the new Harvesters.  Created #137 to track this so we can close this issue.

[2019-09-05 16:38] tkprmr commented on #127
@adborden to clarify this ticket with proper wording / details

[2019-09-06 15:03] adborden commented on #135
This story is about connecting CKAN instances to the logging infrastructure.

I moved this task to #127, since it is not specific to CKAN work

[2019-09-06 15:07] adborden commented on #127
@jqnatividad clarified the user story, does that make more sense?

[2019-09-06 15:14] adborden commented on #137
I clarified the acceptance criteria to include helm.

[2019-09-06 15:38] adborden commented on #124
@aluminiumgeek I'm reading through the User Guide, but it's unclear to me who the audience is. Can you clarify what the roles of the system are, maybe include these descriptions in the docs?

For example, the User guide talks about creating databases, but to me this is a task for an Operator (maybe should part of the DevOps guide)?

[2019-09-06 15:39] adborden commented on #124
I would've though a User is a dataset owner or a CKAN administrator, someone consuming the CKAN bits, not the platform bits.

[2019-09-06 16:50] jqnatividad commented on #124
@adborden I'll update the docs using the following personas:
 * DevOps
 * CKAN Administrator (sysadmin)
 * CCO Developer/Contributor

What do you think?

[2019-09-09 11:43] akariv commented on #127
Adding a technical checklist for @aluminiumgeek :

- [ ] Create a helm chart for the ELK setup in `ckan-cloud-helm` (similar to the provisioning one https://github.com/ViderumGlobal/ckan-cloud-helm/tree/master/provisioning)
- [ ] Release a new version of `ckan-cloud-helm` so that the new chart is in the repository
- [ ] Add a new app type to `ckan-cloud-operator` (similar to the provisioning one h

[2019-09-09 12:59] jqnatividad commented on #133
After Aaron walked me thru on how GSA wants to provision environments using an "Infrastructure as Code" approach Sep 6, created a PR to provision access for development team.

https://github.com/GSA/datagov-infrastructure-live/pull/17

[2019-09-09 14:17] jqnatividad commented on #85
After some discussion, Approach 1 is the recommended approach per @woodt's evaluation.

As it happens, there is already ongoing work with another major CKAN user to make the activity stream module more robust (more detailed activity stream; capturing metadata changes; etc.)

Will harmonize/leverage existing work with NIST requirements.

[2019-09-09 14:53] akariv commented on #135
I created a ckan extension to connect with logstash

https://github.com/datopian/ckanext-logstash

Now I'm waiting on #127 to complete.

[2019-09-09 15:08] kimwdavidson commented on #85
@jqnatividad and @woodt to create tickets for implementing Approach 1

[2019-09-09 15:08] #85 closed

[2019-09-09 15:08] kimwdavidson opened #138 "Use activity feed as audit log"

[2019-09-09 15:16] kimwdavidson commented on #88
@woodt can this ticket be closed?

[2019-09-09 15:21] kimwdavidson opened #139 "GSA-specific CCO documentation"
### GSA specific docs

* [ ] Create any specific GSA repos
* [ ] GSA specific docs (to maximum extent possible we want docs to be of generic open source tool so that we maximize open source aspect but there still may be some GSA specific items)

[2019-09-09 15:25] kimwdavidson commented on #129
Duplicate of UAT provisioning ticket

[2019-09-09 15:25] #129 closed

[2019-09-09 15:29] kimwdavidson commented on #133
Included in #136. closing

[2019-09-09 15:29] #133 closed

[2019-09-09 15:34] kimwdavidson opened #140 "Incorporate Harvester NG into CKAN Cloud"
As an operator, I want the new harvest platform to be deployed with the existing platform as infrastructure as code so that I changes to the harvest platform are made through our GitHub workflow and can easily be inspected for auditing and compliance.

## Details / Tasks

## Acceptance criteria
- [ ] Docker image(s) created for Harvester and Airflow in "production" configuration
- [ ] Helm templat

[2019-09-09 15:38] kimwdavidson commented on #97
CKAN already has a way for harvesters to report errors, including an email service, so we should either integrate with that system or create a new one

[2019-09-09 15:40] kimwdavidson commented on #97
@avdata99 to send example error report to @adborden

[2019-09-09 15:41] kimwdavidson commented on #138
@woodt to spec. candidate for current sprint (sprint 8)

[2019-09-09 15:44] kimwdavidson opened #141 "Migrate GSA to new platform (inventory)"

[2019-09-09 15:48] kimwdavidson commented on #126
duplicate of deploying platform from scratch in UAT

[2019-09-09 15:48] #126 closed

[2019-09-09 15:49] avdata99 commented on #97
@adborden we wrote a very simple (and customizable vía CSS) [template report].(https://gitlab.com/datopian/ckan-ng-harvest/blob/master/libs/harvester/templates/harvest-report.html)
At the moment the template has no CSS since I'm not the best for this kind of job but maybe it would be easy to do.

Maybe could be useful for use as a final harvest report or modify to send via email.

![sample-harvest

[2019-09-09 15:52] kimwdavidson opened #142 "Journey Mapping follow up"

[2019-09-09 23:15] adborden opened #143 "Keep EKS and Kubernetes up to date"
## User Story
As an operator, I want Kubernetes running at a stable, supported version so that I am running an EKS supported version and my cluster has the latest security patches.

We are currently running Kubernetes 1.10 which is no longer supported by EKS.

## Details / tasks

## Acceptance Criteria
- [ ] Kubernetes is automatically updated

[2019-09-10 21:35] adborden commented on #97
On Mon, 2019-09-09 at 08:49 -0700, Andres Vazquez <notifications@github.com> wrote:

I'm looking an example report so that I can see the type of errors that
need reporting. For example, schema validation errors, or are they
network errors trying to fetch resources?

I'm not so interested in the visuals, just the content.

--
Aaron D Borden
Human and hacker

[2019-09-11 12:57] avdata99 commented on #97
Ok,behind the report there is a full JSON data about the harvest process.
We can connect this data with any other destination.
We include schema validation error and also network errors (for example 404 trying to get data.json files). We can improve the resource if necessary.

[2019-09-13 17:57] avdata99 commented on #97
Yes @adborden, here some example for harvest data.json from _Railroad Retirement Boar_.

https://gitlab.com/datopian/ckan-ng-harvest/blob/develop/harvest/datajson/samples/sample-RRB-final-results.json

This file includes all datasets, resources, [errors](https://gitlab.com/datopian/ckan-ng-harvest/blob/develop/harvest/datajson/samples/sample-RRB-final-results.json#L1974) and warnings.

This file s

[2019-09-16 15:08] thejuliekramer commented on #130
@adborden currently running into this issue https://github.com/GSA/catalog-app/issues/76, I will ping you on how to resolve

[2019-09-16 16:37] thejuliekramer commented on #130
I was able to get this running in my local environment, what environment should this be running in to meet the acceptance criteria

[2019-09-17 13:55] thejuliekramer commented on #130
Just noting that this config is needed when setting up in any new environment https://github.com/GSA/datagov-deploy/blob/develop/ansible/roles/software/ckan/catalog/ckan-app/templates/etc/ckan/production.ini.j2#L221

[2019-09-17 13:58] jqnatividad commented on #130
@thejuliekramer please coordinate with @avdata99 to see if you can include the theme in the Docker image he's building.

[2019-09-17 15:56] thejuliekramer commented on #130
Thanks @jqnatividad . Also going to request a login for data.gov from @adborden to see what the theming looks like from the logged in perspective.

[2019-09-18 16:47] thejuliekramer commented on #130
Working on getting the theme running using this docker repo locally, https://github.com/ViderumGlobal/ckan-cloud-docker. I am having an issue with the install and pinged @akariv on GSA Slack for help. Is this the best way to reach him @jqnatividad?

[2019-09-18 16:59] akariv commented on #130
Indeed it is :)

On Wed, Sep 18, 2019 at 7:47 PM Julie Kramer <notifications@github.com>
wrote:

[2019-09-19 11:19] aluminiumgeek commented on #127
Released a new version (v0.0.9) of `ckan-cloud-helm`, and added a new type to `ckan-cloud-operator`.

Kibana allows only authentication with X-pack extension. So I'm currently working on adding this to the helm repo and make auth credentials configurable.

[2019-09-19 11:33] aluminiumgeek commented on #127
I also need to create a entry for Traefik with SSL certificate to be able to run Kibana on subdomain.

[2019-09-19 12:25] akariv commented on #127
Thanks - cco handles the routing and ssl certificates for you as far as I
remember.

Can you put here the links to the relevant prs so I can review them?

On Thu, Sep 19, 2019, 14:33 Mikhail Mezyakov <notifications@github.com>
wrote:

[2019-09-19 13:53] tkprmr commented on #88
@woodt I am closing this ticket for now since all task items are completed and checked marked as listed in the description.
we can open a new ticket if required in case anything found in the review

[2019-09-19 13:53] #88 closed

[2019-09-19 17:23] thejuliekramer commented on #130
I was able to get the ckan cloud docker running but not the theme after trying for a couple hours - sent a message to @akariv on Slack and waiting for a response

[2019-09-22 06:35] akariv commented on #127
@aluminiumgeek ^

[2019-09-22 17:05] aluminiumgeek commented on #127
@akariv the work is currently pushed to `master` in `ckan-cloud-operator` and `ckan-cloud-helm` repos.

[2019-09-23 15:08] tkprmr commented on #118
@jqnatividad confirmed that Adam had a quick check on this and looks okay.
assigning to @woodt to create new tickets for test coverage based on this assessment and then close this ticket.

[2019-09-23 15:10] philipashlock commented on #118
For reference, here's the full list of extensions on the current catalog.data.gov - https://catalog.data.gov/api/util/status

[2019-09-23 15:21] tkprmr commented on #136
as per @jqnatividad this is completed as @adborden already provisioned access

[2019-09-23 15:21] #136 closed

[2019-09-24 12:49] woodt opened #144 "Create tests for datajson extension"
datajson https://github.com/akariv/ckanext-datajson.git (MISSING TESTS)

[2019-09-24 12:50] woodt opened #145 "Create tests for report extension"
report https://github.com/datagovuk/ckanext-report.git (MISSING TESTS)

[2019-09-24 12:52] woodt opened #146 "Create tests for geodatagov extension"
geodatagov https://github.com/GSA/ckanext-geodatagov.git (MISSING TESTS)

[2019-09-24 12:55] woodt opened #147 "Generate report on completed, current, and planned security activities"
Use the 18f "before you ship" checklist as a reference.

[2019-09-25 05:36] akariv opened #148 "Fail to create package at datagov-theme instance"
---

Migrated from https://github.com/datopian/ckan-cloud-operator/issues/66
Originally created by @avdata99 on *Tue, 24 Sep 2019 16:16:17 GMT*

---
I run the datagov instance with:

[code]

I have errors creating dataset:
ERROR creating CKAN package: http://nginx:8080/api/3/action/package_create Status code: 409 content:b'

[code]
The value from is _'R/P1Y'_. And it's OK internally

**Dataset**
[

[2019-09-25 05:36] akariv commented on #148
---

Migrated from https://github.com/datopian/ckan-cloud-operator/issues/66#issuecomment-534855170
Originally created by @akariv on *Wed, 25 Sep 2019 05:11:49 GMT*

---
Hey, the validation comes from the USMetadata Extension that has its own set of validations. If you read the original datajson extension, you'll find a conversion table there.
I'm guessing you'll have to implement a similar conver

[2019-09-25 05:36] akariv commented on #148
---

Migrated from https://github.com/datopian/ckan-cloud-operator/issues/66#issuecomment-534858788
Originally created by @akariv on *Wed, 25 Sep 2019 05:28:23 GMT*

---
uses of the {reverse_,}accrual_periodicity_dict

[code]

[2019-09-25 06:44] woodt commented on #147
Nearly completed a spreadsheet listing activities and status.  Just have to add some ticket #s.

[2019-09-25 06:49] woodt opened #149 "Add security dependency analysis to NG harvester Ci/CD pipeline"
We should be able to use this work as a basis for adding dependency analysis to other pipelines.

Acceptance criteria:

[ ] Pipeline execution generates a report of security vulnerabilities in dependencies
[ ] Builds fail when unexpected high (or medium?) vulnerabilities are found.  [Does this imply  tailoring?  Probably yes.]

[2019-09-25 06:52] woodt opened #150 "Add static security analysis to CI/CD pipeline for NG harvester"
Acceptance criteria:

- [x] CI/CD pipeline execution produces a report of isses found by static code analysis
- [x] Pipeline fails when unexpected high priority issues are discovered.

[2019-09-26 11:39] aluminiumgeek commented on #127
I was unable to set up Kibana auth with X-pAck extension. I'm going to use BasicAuth with Traefik.

[2019-09-26 11:57] jqnatividad commented on #131
We currently migrate organization metadata (logos, about, etc).
https://catalog.data.gov/organization

Do we need to also migrate users of each organization?

[2019-09-26 14:48] adborden commented on #131
No, let's not migrate users for now. I assume we'll be able to manually add ourselves as sysadmins?

[2019-09-26 15:01] adborden commented on #127
On Thu, 2019-09-26 at 04:39 -0700, Mikhail Mezyakov <notifications@github.com> wrote:

Thanks Mikhail, can you document some of the issues you ran into setting
up X-pack? BasicAuth will be okay for now, but at some point we'll need
to setup authentication through SAML2 (via login.gov). It would be good
to at least document some of the challenges we're going to face when
we're ready to take on that

[2019-09-26 16:46] #142 closed

[2019-09-30 13:25] avdata99 commented on #148
It works [by reversing](https://gitlab.com/datopian/ckan-ng-harvest/commit/d9bb030ef980a7c5d7ae97cc71ebc0c6cdae0cc1) the _accrual_periodicity_ dict

[2019-09-30 13:25] #148 closed

[2019-09-30 16:11] woodt commented on #147
https://docs.google.com/spreadsheets/d/19A5x9mQACuXLHY6H7afiJfSMW8fLei_Rscgzs9wavBQ/edit#gid=0

[2019-09-30 17:16] tkprmr commented on #103
@jqnatividad to ask Adam to see if he can help @avdata99 on this

[2019-10-01 15:45] avdata99 commented on #103
Neither the GSA or CKAN versions of _ckanext-spatial_ refers to a _bureau_code_.
This field is one of many required for _USMetadata_ schema.

I needed to [set some default values](https://gitlab.com/datopian/ckan-ng-harvest/blob/89b55220b6fc29ac0560af1fb1a62885bce2a0ef/libs/harvester/adapters/datasets/csw.py#L64-74) for this fields since we are not able to create datasets at CKAN without them.

Ot

[2019-10-02 00:55] adborden commented on #103
@avdata99 the USMetadata extension is only used in Inventory. It is not used in [Catalog](https://github.com/GSA/datagov-deploy/blob/f65c64d3885458279b69741cd24b3340bf352753/ansible/roles/software/ckan/catalog/ckan-app/templates/etc/ckan/production.ini.j2#L127) where the harvesters run.

[2019-10-03 10:59] aluminiumgeek commented on #127
Purged manually installed ELK stack from the cluster, and reinstalled it with CCO:

[code]

I also had to manually update DNS record for Kibana (`aws_manager.update_dns_record('ckan-cloud-app-elk', 'datagov.us',  '<LB hostname>')`) with CCO, because the default one didn't point to the Kibana instance

[2019-10-03 11:35] akariv commented on #127
Mikhail, please integrate with the routes mechanism in CCO so that DNS and
HTTPS are set-up correctly and automatically.

On Thu, Oct 3, 2019 at 1:59 PM Mikhail Mezyakov <notifications@github.com>
wrote:

[2019-10-03 12:00] aluminiumgeek commented on #143
It is safe to upgrade cluster version. There should be a button in AWS console that will initiate the upgrade and will roll the new Kubernetes version on all nodes without (or with minimal) downtime.

[2019-10-03 13:10] jqnatividad commented on #143
Hi @adborden, can you confirm this meets the acceptance criteria?

[2019-10-03 13:13] jqnatividad commented on #131
Yes, you can add yourselves manually as sysadmins thru the CLI beyond the sysadmin that is assigned when provisioning an instance.

https://docs.ckan.org/en/2.8/maintaining/getting-started.html#create-admin-user

[2019-10-03 13:30] jqnatividad commented on #130
Also connected @thejuliekramer with Adrià to help with migrating the theme.

[2019-10-03 16:16] jqnatividad commented on #127
@adborden on X-Pack, the main challenge is that even though its open source, it requires a subscription.  That's why @aluminiumgeek is just doing Basic Auth with Traefik.

See https://www.elastic.co/what-is/open-x-pack

[2019-10-03 17:52] mogul commented on #127
Note that most of the functionality in x-pack is now available via libre+gratis open community add-ons, maintained as a distribution that track Elastic's upstream releases: https://opendistro.github.io/for-elasticsearch/

[2019-10-03 17:55] mogul commented on #127
Note you can also install the add-ons one-by-one, so you can just grab the Security plugin without bringing in the others:
https://opendistro.github.io/for-elasticsearch-docs/docs/install/plugins/

[2019-10-03 23:31] adborden commented on #143
No, it does not meet the acceptance criteria. This story is about making the updates automated, or at least generating a notification so we  know a manual action is required. Currently we have no way of knowing that EKS is outdated.

In production, I would like operators to have limited or no write access, so using the AWS console wouldn't be an option.

I've upgraded EKS to 1.12 and continue to m

[2019-10-04 20:53] adborden commented on #143
Let's kick this back to backlog until we are ready to pick this up.

[2019-10-07 13:32] avdata99 commented on #114
Locally Airflow is working and seems a good plan for this.
We will continue on #137 and open new tickets if any problem presents

[2019-10-07 13:32] #114 closed

[2019-10-07 13:44] avdata99 commented on #137
We have our [first docker version](https://gitlab.com/datopian/ckan-ng-harvest/blob/develop/Dockerfile).

[2019-10-07 13:54] aluminiumgeek commented on #127
@mogul thank you. I dIdn't know about opendistro addons. I'm checking this out.

[2019-10-07 14:49] jqnatividad opened #152 "Migrate Existing Harvesters from 2.3 to 2.8"
User Story:
As a data.gov administrator, I want to use the existing legacy harvesters with CKAN v2.8 while the new Harvesters using the Next Generation architecture are being tested/assessed.

Task:
 - [ ] Upgrade existing Harvesters in CKAN 2.3 codebase to work in CKAN 2.8
 - [ ] Test migrated Harvesters

Acceptance Criteria:
 - [ ] Harvesting jobs currently working on existing 2.3 codebase works

[2019-10-07 15:12] akariv commented on #135
Currently testing the elk environment currently deployed on the cluster, will attempt integration in the next couple of days.

[2019-10-07 15:32] tkprmr commented on #139
All tasks are included in #121. so closing this one

[2019-10-07 15:32] #139 closed

[2019-10-07 15:35] adborden commented on #140
Duplicate of https://github.com/GSA/datagov-ckan-multi/issues/137

[2019-10-07 15:35] #140 closed

[2019-10-09 17:11] adborden commented on #152
@jqnatividad can you list the extensions that we plan on working on?

[2019-10-10 13:35] tkprmr commented on #147
@hkdctol to review the document and provide feedback

[2019-10-10 13:49] avdata99 commented on #137
We have a [full Airflow docker](https://gitlab.com/datopian/ckan-ng-harvest/blob/develop/docker-compose.yml) working.
We now [are merging](https://gitlab.com/datopian/ckan-ng-harvest/issues/62) harvest instance with the Airflow instance in order to run locally and easily all the harvest jobs.

[2019-10-10 14:42] jqnatividad commented on #152
@adborden, the two harvesting extensions are:

 * GSA/ckanext-geodatagov
 * GSA/ckanext-datajson

[2019-10-10 15:00] hkdctol commented on #147
@woodt if all the security related tickets are mentioned in the Notes column I think we can consider this issue closed and we will review the work on the tickets.

[2019-10-10 15:25] jqnatividad opened #153 "Migrate GSA/geodatagov harvester to 2.8"
## User Story
As a CKAN admin, I need to make sure that the current GSA/ckanext-geodatagov extension will work in CKAN 2.8.

## Details / tasks
 - [x] Migrate GSA/ckanext-geodatagov to 2.8
 - [x] Add migrated extension to CCO harvester image

## Acceptance Criteria
- [x] Migrated extension has identical, if not improved behavior (coz of 2.8 improvements)
- [ ] Migrated extension works in CCO
- [x]

[2019-10-10 15:28] jqnatividad opened #154 "Migrate GSA/datajson harvester to 2.8"
## User Story
As part of the CKAN migration team, I need to make sure that the current GSA/ckanext-datajson extension works in CCO/CKAN 2.8.

## Details / tasks
 - [x] Migrate GSA/ckanext-datajson extension to 2.8
 - [x] Add migrated extension to CCO harvester image

## Acceptance Criteria
- [x] Migrated extension has identical if not improved behavior (coz of 2.8 improvements)
- [x] Migrated exte

[2019-10-10 15:39] adborden commented on #152
Ah, only the Data.gov harvesters? Great, so have we confirmed that ckanext-harvest and ckanext-spatial are already good to go?

[2019-10-10 15:49] jqnatividad commented on #152
Yes. We are focusing only on the Data.gov harvesters as those two extensions are widely used and are known to already work on 2.8.

[2019-10-10 16:00] adborden commented on #154
Add an AC about CI:

[2019-10-10 16:00] adborden commented on #153
Added an AC for CI:

[2019-10-10 16:34] tkprmr commented on #147
@woodt create tickets in backlog for pending items / issues out of the report before closing this ticket

[2019-10-14 14:56] #149 closed

[2019-10-14 14:57] woodt commented on #149
This work was merged to the develop branch.  No vulnerabilities were noted in the harvester dependencies, so no remediation needed!

[2019-10-14 15:08] tkprmr commented on #150
per @woodt he will create tickets based on issues observed per static analysis.
overall this ticket is on track for completion by this sprint

[2019-10-15 15:24] woodt opened #156 "Remediate security issues detected by static code analysis - NG harvester"
## Acceptance Criteria
- [x] Tailoring should be removed from bandit.yml - ckan-ng-harvest
- [x] CI/CD pipeline should not fail - ckan-ng-harvest
- [x] Tailoring should be removed from bandit.yml - ckan-ng-harvester-core
- [x] CI/CD pipeline should not fail - ckan-ng-harvester-core

Issues detected by bandit in ckan-ng-harvest:

   Severity: High   Confidence: High

   Severity: High   Confidence:

[2019-10-15 17:20] avdata99 commented on #154
Forked OKF datajson ext [here](https://github.com/avdata99/ckanext-datajson).
Added contributing, license and readme from GSA.

List of commit to cherry-pick or analyze to include:

 - 20180309 https://github.com/OpenGov-OpenData/ckanext-datajson/commit/ae2748f6029b08223b42b6d03ad475957876fed5
 - 20180309 paginate data.json https://github.com/OpenGov-OpenData/ckanext-datajson/commit/b668dcfd23e770

[2019-10-15 17:46] avdata99 commented on #137
Added the [new harvester yaml to CKAN cloud docker](https://github.com/avdata99/ckan-cloud-docker/blob/master/.docker-compose.harvester_ng.yaml). We have some port conflict at the moment.
We are going to fix them with Adam.

[2019-10-17 11:57] jqnatividad commented on #123
On Friday, Oct 11, @adborden , @woodt and I attempted to do a fresh CCO install just using the docs in a 2.5+ hour co-working session.

From that exercise, it was apparent that the DevOps guide to install CCO on AWS will need to be refined with more detail as we were not able to deploy CCO on GSA's AWS account.

This will have to rollover to Sprint 11 as the docs will need to be rewritten.

[2019-10-17 13:35] tkprmr commented on #103
@adborden needs to test it once the sandbox is ready with this funcationality #137

[2019-10-17 13:39] tkprmr commented on #128
Joel had review on this with Aaron and Tom W.  New tickets needs to be created for any additional documentation updates.
Need to check with Aaron whether this can be closed after new update tickets are created.

[2019-10-17 13:39] tkprmr commented on #124
Joel had review on this with Aaron and Tom W.  New tickets needs to be created for any additional documentation updates.
Need to check with Aaron whether this can be closed after new update tickets are created.

[2019-10-17 13:39] tkprmr commented on #123
Joel had review on this with Aaron and Tom W.  New tickets needs to be created for any additional documentation updates.
Need to check with Aaron whether this can be closed after new update tickets are created.

[2019-10-17 13:39] tkprmr commented on #134
Joel had review on this with Aaron and Tom W.  New tickets needs to be created for any additional documentation updates.
Need to check with Aaron whether this can be closed after new update tickets are created.

[2019-10-17 14:05] thejuliekramer commented on #130
@jqnatividad I didn't realize you connected  me with Adria? Where can I reach them?

[2019-10-17 14:10] thejuliekramer commented on #130
Spoke with Joel last week and he said we should move to Bootstrap 3 instead of 2. I started over on the theme this week with that in mind. Still working on the theming - this is more work than just small fixes now. Each page needs to be looked at. I had to set up the data.gov CKAN environment locally in order to work with the html and css files which took some time. I would say this is about 10% d

[2019-10-17 14:47] jqnatividad opened #157 "Add Helm to Harvester NG Docker image"
## User Story
As a GSA devop, I need to be able to spin up a Harvester NG instance on CCO.
This requires that the current Harvester NG docker image be packaged with a helm chart.

## Details / tasks
- [ ] create helm chart for Harvester NG Docker image

## Acceptance Criteria
- [ ] Harvester NG instance can be deployed from CCO

[2019-10-17 16:12] woodt opened #158 "Security and ATO Prep Activities for CCO"

[2019-10-17 16:15] woodt opened #159 "Determine system risk level; outline strategy as appropriate"
Low, Medium, High

[2019-10-17 16:16] woodt opened #160 "(Discovery) enable protected branches in project repos"
This is a best practice, but will require a little investigation to see what makes sense given the complex repo structure for this project.

[2019-10-17 16:18] woodt opened #161 "Review existing system monitoring; identify missing monitoring that may be needed; add missing capabilities"
Target is the production environment.

[2019-10-17 16:20] woodt opened #162 "(Discovery) Dynamic vulnerability scanning"
Identify vulnerability scanning required by GSA.

Identify any additional scanning we may wish to run.

Develop policy for running scans.

If feasible, integrate dynamic vulnerability scanning into CI/CD pipeline.

[2019-10-17 16:22] woodt opened #163 "Ensure multi-factor authentication (MFA) is enabled for administrative access"
Enumerate administrative roles (this will also be needed for ATO documentation)

Enable MFA as possible for administrate access.

[2019-10-17 16:23] woodt opened #164 "Add dependency vulnerability analysis to CCO CI/CD pipelines"

[2019-10-17 16:25] woodt opened #165 "Add static security scanning to CCO CI/CD pipeline"
Add bandit scanning to:

[X ] ckan-cloud-provisioning-api
[X] ckan-cloud-operator

[X] Confirm pipelines fail when *high* risk issues are detected.

[2019-10-17 16:28] woodt commented on #147
Have created tickets for activities, *except* for some of the SSP tasks.

[2019-10-17 16:28] woodt commented on #150
Pull request ready to review.

[2019-10-17 16:32] tkprmr commented on #147
@woodt can you link tickets here or refererence here

[2019-10-17 16:33] akariv commented on #127
https://ckan-cloud-app-elk.datagov.us is deployed using CCO.

Just missing basic auth on kibana.

[2019-10-17 16:34] akariv opened #166 "Add Basic Auth on Kibana"
Corollary of #127

[2019-10-17 16:36] akariv commented on #135
We now have:
- CKAN image with logstash config
- Instance kinds that use that image and contain logstash configuration
- A deployed instance that uses logstash integration

Now I'm debugging the setup and making sure logs are visible in Kibana

[2019-10-17 16:52] tkprmr commented on #150
@avdata99 to help with pull request review

[2019-10-17 17:38] adborden commented on #150
Can you link to the MR?

On Thu, Oct 17, 2019 at 9:52 AM tkprmr <notifications@github.com> wrote:

--
Aaron D Borden
Lead Engineer | IT Specialist
TTS | Data.gov <https://www.data.gov>

[2019-10-17 18:54] avdata99 commented on #150
This one was merged
https://gitlab.com/datopian/ckan-ng-harvest/merge_requests/65

And this is still in progress
https://gitlab.com/datopian/ckan-ng-harvest/merge_requests/66

maybe @woodt could add something else

[2019-10-18 13:52] avdata99 commented on #137
It's working. Now requires final QA from @akariv, deploy and QA for @adborden

[2019-10-18 17:03] woodt commented on #150
@avdata99: OK, this is ready to go.  There are actually two MR for two repos:

- https://gitlab.com/datopian/ckan-ng-harvest/merge_requests/66
- https://gitlab.com/datopian/ckan-ng-harvester-core/merge_requests/1

(Thanks!)

[2019-10-18 17:07] avdata99 commented on #154
Finish merged, [some notes](https://github.com/avdata99/ckanext-datajson/blob/datagov/cherry-picking-from-another-forks.md).
I'm testing it

[2019-10-21 13:55] avdata99 commented on #150
It was merged. Tanks @woodt.
If we are done I think you can close it

[2019-10-21 14:00] #150 closed

[2019-10-21 14:06] jqnatividad opened #167 "Automate CCO Deployment"
Installing the CCO using the current docs is difficult.  There are many steps/prerequisites, and some steps are not fully documented and require manual intervention.

To achieve "infrastructure as code" and to ease deployment, CCO needs to be automated using something like terraform.

## How to reproduce

1. Try to install CCO using the current docs.

## Expected behavior

CCO deployment should mi

[2019-10-21 14:37] woodt opened #168 "System Security Plan: Ports, Protocols, and Services"
Compete the ports, protocols, and services section of the SSP.

[2019-10-21 14:42] woodt opened #169 "System Security Plan: Roles and Privileges"
Complete the roles and privileges section of the SSP (E.g., section 10.3 of the FedRAMP Tailored Appendix B.)

[2019-10-21 14:44] woodt opened #170 "System Security Plan: Finalize System and Network Diagrams"
Update diagrams as needed to reflect current state of system.

[2019-10-21 14:45] woodt opened #171 "System Security Plan: Finalize hardware and software inventory lists"
E.g., section 11 of the FedRAMP Tailored Appendix B.

[2019-10-21 14:47] woodt opened #172 "System Security Plan: complete/revise remaining "front matter" items"
Complete and bring up to date any remaining front matter items in the System Security Plan not already spoken for in other tickets.

(Update this ticket to provide a list!)

[2019-10-21 14:48] woodt opened #173 "System Security Plan: control selection / outline"
Based on risk level, select security controls and outline associated components and inheritance.

[2019-10-21 14:49] woodt opened #174 "System Security Plan: complete control narratives"
(note: this is probably a very large ticket that should be split; once we know more about the control selection, we will probably want to divide the narrative work up into chunks, perhaps by control family.)

[2019-10-21 14:50] #147 closed

[2019-10-21 14:56] woodt opened #175 "(Placeholder) 508 Review"
99.9% certain we will need to do a 508 review/remediation of some kind, at some point!

[2019-10-21 15:21] tkprmr commented on #137
@avdata99 to prepare a document to test this
Share the document with @adborden for QA

[2019-10-21 17:25] adborden commented on #98
I think we can close this is done. The [ATO issue](https://github.com/GSA/datagov-ckan-multi/issues/158) will track the roadmap tasks.

[2019-10-21 17:25] #98 closed

[2019-10-22 10:31] akariv commented on #135
Done, sample kibana view:

https://ckan-cloud-app-elk.datagov.us/app/kibana#/discover?_g=(refreshInterval:('$$hashKey':'object:2069',display:Off,pause:!f,section:0,value:0),time:(from:now-15m,mode:quick,to:now))&_a=(columns:!(host,level,message),index:'logstash-*',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'*')),sort:!('@timestamp',desc))

[2019-10-23 13:36] avdata99 commented on #153
We have the [GSA branch](https://github.com/GSA/ckanext-geodatagov/network) active from CKAN 2.3 (May 6, 2019)
![image.png](https://images.zenhubusercontent.com/5d0fa29f8356d802835f2561/5bcbf32d-c7f7-4c48-8a33-329a207138e1)

The [DistributedOpenUnifiedGovernmentNetwork branch](https://github.com/DistributedOpenUnifiedGovernmentNetwork/ckanext-geodatagov) seems more up to date but in reality it onl

[2019-10-24 14:00] tkprmr opened #176 "Finalize UX plan"
## User Story

## Details / tasks

## Acceptance Criteria
- [ ] Something

[2019-10-24 14:06] jqnatividad commented on #128
Given test deployment findings using current docs, will put this backlog as CCO deployment is automated #137

[2019-10-24 14:09] jqnatividad commented on #124
Closing this as CCO deployment is being automated and the associated documentation revamped to reflect this (#167).

[2019-10-24 14:09] #124 closed

[2019-10-24 14:09] jqnatividad commented on #123
Closing this as CCO deployment is being automated and the associated documentation revamped to reflect this (#167).

[2019-10-24 14:09] #123 closed

[2019-10-24 14:09] jqnatividad commented on #134
Closing this as CCO deployment is being automated and the associated documentation revamped to reflect this (#167).

[2019-10-24 14:09] #134 closed

[2019-10-24 14:09] #74 closed

[2019-10-24 14:09] jqnatividad commented on #74
Closing this as CCO deployment is being automated and the associated documentation revamped to reflect this (#167).

[2019-10-24 14:13] jqnatividad commented on #137
Draft documentation is here -
https://github.com/avdata99/ckan-cloud-docker/blob/master/start-harvester.md

[2019-10-24 16:09] woodt commented on #156
I've completed a MR for ckan-ng-harvest -- https://gitlab.com/datopian/ckan-ng-harvest/merge_requests/67 -- which is ready for review.

Wrapping up the MR for ckan-ng-harvester-core today.  When this is done, we can close this ticket.

[2019-10-24 16:34] tkprmr commented on #135
@adborden to help with QA and add comments

[2019-10-24 16:34] tkprmr commented on #127
@adborden to help with QA and add comments

[2019-10-24 16:36] tkprmr commented on #137
@avdata99 will work with Adam and Joel for validation as per the drafted document and then share with @adborden to perform final check next week

[2019-10-24 16:50] tkprmr commented on #125
Assigning to @jqnatividad to clean up the story links associated with this ticket as per discussion in check-in call today

[2019-10-25 12:34] avdata99 commented on #154
Running tests with travis for CKAN 2.8 and 2.3: https://travis-ci.org/avdata99/ckanext-datajson
Failing by now, working to fix it.

[2019-10-25 17:10] adborden commented on #154
Hey Andres,

FYI since Data.gov is going to maintain this project and TTS
requires CircleCI, keep in mind that we'll have to move the CI build to
CircleCI as part of this ticket.

On Fri, Oct 25, 2019 at 5:34 AM Andres Vazquez <notifications@github.com>
wrote:

--
Aaron D Borden
Lead Engineer | IT Specialist
TTS | Data.gov <https://www.data.gov>

[2019-10-25 17:14] avdata99 commented on #154
![image.png](https://images.zenhubusercontent.com/5d0fa29f8356d802835f2561/f56dd6c3-335f-4432-8b8f-8640551827e4)

[Tests are working](https://travis-ci.org/avdata99/ckanext-datajson) for CKAN 2.3 and CKAN 2.8.
I used [the same old tests](https://github.com/avdata99/ckanext-datajson/blob/datagov/ckanext/datajson/tests/test_datajson.py) in this extension. This testing is basic.
For example, the [tes

[2019-10-25 17:17] avdata99 commented on #154
I just read about CircleCI @adborden
I will move to CircleCI

[2019-10-25 17:23] adborden commented on #154
My understanding is that there are no tests.
https://github.com/GSA/ckanext-datajson/blob/datagov/ckanext/datajson/tests/test_datajson.py
lists
a simple create package, and verify it's name, which looks like it's part
of the CKAN extension template, not specific to ckanext-datajson.

On Fri, Oct 25, 2019 at 10:17 AM Andres Vazquez <notifications@github.com>
wrote:

--
Aaron D Borden
Lead Engineer

[2019-10-25 17:41] avdata99 commented on #154
I just read about CircleCI @adborden
I will move to CircleCI

[2019-10-25 18:06] avdata99 commented on #154
Started with CircleCI: https://circleci.com/gh/avdata99/ckanext-datajson/3

[2019-10-28 14:58] woodt commented on #164
This work is in progress.  Expect to have a pull request ready end of day on Monday.

[2019-10-28 15:00] woodt commented on #156
Ran into some complexities with remediating some XML parsing security issues; it looks like those issues are resolvable but will take more time.  I'm going to split this ticket into XML and non-XML work so that we can capture the non-XML issues now, and then I can pick up the XML work in the near future.

[2019-10-31 12:37] jqnatividad commented on #167
After detailed analysis by @akariv and @aluminiumgeek , CCO will need to be refactored, as improving the docs is not sufficient.

Creating a new Epic to track CCO refactoring and closing this ticket.

[2019-10-31 12:37] #167 closed

[2019-10-31 12:40] jqnatividad opened #184 "EPIC: Automate provisioning of CCO managed clusters"
## User Story
As a GSA operator, I need to CCO installed via an automated CI/CD pipeline so that I can build in compliance and security checks within the pipeline to ensure CCO is meeting all controls.

## Details / tasks
- [ ] Automate the supporting infra setup (and ideally with a well used tool like terraform)
- [ ] Ensure docs are good and describe the canonical helm-based deploy method
- [ ]

[2019-10-31 12:44] avdata99 commented on #137
We can
https://github.com/avdata99/ckan-cloud-docker/blob/master/start-harvester.md

[2019-10-31 14:07] jqnatividad commented on #128
We'll need to revisit creating this once CCO is refactored. #184

[2019-10-31 14:10] thejuliekramer commented on #130
Continuing work on this moving from bootstrap 2 to 3. Going to speak with @woodt soon on how we can integrate testing into the pipeline

[2019-10-31 15:33] adborden commented on #130
Thanks all! If you end up on pulling in other folks over email, please CC
datagovhelp@

On Thu, Oct 31, 2019, 7:50 AM Julie Kramer <notifications@github.com> wrote:

[2019-10-31 15:43] woodt opened #185 "Remediate XML parsing security issues in ckan-ng-harvester-core"
[code]

[2019-10-31 15:44] woodt commented on #156
Created https://github.com/GSA/datagov-ckan-multi/issues/185 to capture XML remediation work.

[2019-10-31 15:54] woodt commented on #165
Working on bandit integration for:

[ ] ckan-cloud-provisioning-api
[ ] ckan-cloud-operator

ckan-cloud-provisioning-api seems pretty clean, but a fair number of issues in ckan-cloud-operator.  Will create remediation tickets.

May need some assistance on Travis and/or repo access.

Still investigating tooling for *ckan-cloud-provisioning-ui* (which is a Node/Typescript app.)

[2019-10-31 16:01] woodt commented on #164
Oops.  Turned out to be a little more complicated than I thought.  E.g., there are some conflicting requirements in ckan-cloud-provisioning-api.  And dhq-auth uses flask-oauthlib, which appears to be replaced by authlib.

[code]

Still investigating this.

Also ... all three of these repos are on github.com, so once the requirements are pinned, I would like to just enable dependabot which will exa

[2019-10-31 16:15] avdata99 commented on #153
Forked as Datopian repo
https://github.com/datopian/ckanext-geodatagov
We can send PR when finished

[2019-10-31 16:20] thejuliekramer commented on #130
@jqnatividad I would like to connect with him either way, I can show him what I have been doing so far to get a code review of sorts

[2019-10-31 16:29] avdata99 commented on #153
Started with Circle CI
https://circleci.com/gh/datopian/ckanext-geodatagov/1

[2019-10-31 16:40] tkprmr commented on #103
@avdata99 need to get it ready for testing and notify him once ready for testing

[2019-10-31 17:39] avdata99 commented on #154
This is the final PR for this @adborden
https://github.com/GSA/ckanext-datajson/pull/49
I'm not able to assign it to you.

[2019-10-31 18:28] avdata99 commented on #156
Merged:
OK: https://gitlab.com/datopian/ckan-ng-harvest/merge_requests/67
  Rebuild ant tested OK
OK: https://gitlab.com/datopian/ckan-ng-harvester-core/merge_requests/2
 No need to rebuild

[2019-11-01 17:52] #156 closed

[2019-11-04 15:50] woodt opened #186 "Security scanning for ckan-cloud-provisioning-ui CI/CD pipeline"
[ ] Use snyk (probably) for dependency vulnerability reporting
[ ] Investigate static code analysis possibilities
[ ] If there is a reasonable static code analysis choice, implement it.  Otherwise, we may stop at vulnerability reporting
[ ] CI / CD pipeline should fail when unexpected vulnerability is found

[2019-11-04 15:51] woodt commented on #165
Splitting off the *ckan-cloud-provisioning-ui* work into a separate ticket (Javascript work is quite different than the Python scanning for the other two repos.)  See https://github.com/GSA/datagov-ckan-multi/issues/186

[2019-11-04 15:54] woodt commented on #165
Hi @akariv ... can you add me as a contributor to ckan-cloud-operator and ckan-cloud-provisioning-API?

[2019-11-04 15:56] woodt commented on #164
We're not going to go with dependabot.  I will implement the *safety* scanning as done with previous Python repos, and probably *snyk* for the UI repo (see https://github.com/GSA/datagov-ckan-multi/issues/186)

[2019-11-04 16:26] tkprmr commented on #184
@akariv to create additional tickets and link with this EPIC by 11/5 ( tuesday ) and start work on those tickets in current sprint 12

[2019-11-04 19:08] avdata99 commented on #154
This is working, including basic testing on data.json harvesting
https://circleci.com/gh/avdata99/ckanext-datajson

[2019-11-06 16:00] avdata99 commented on #153
Tests (CSW by now) it's working
https://circleci.com/gh/datopian/ckanext-geodatagov

with tests:
https://github.com/datopian/ckanext-geodatagov/blob/master/ckanext/geodatagov/tests/test_csw_harvester.py

[2019-11-07 14:49] avdata99 commented on #154
@adborden: about your question for City of Boise error:

In the legacy data.json extension, we have [two validators for federal and non-federal data.json sources](https://github.com/avdata99/ckanext-datajson/blob/datagov/ckanext/datajson/harvester_base.py#L354).

If you don't configure the harvest source, by default, [will be treated as federal](https://github.com/avdata99/ckanext-datajson/blob/da

[2019-11-07 16:09] thejuliekramer commented on #130
Connected with Tanvir about using the USDWS theme. It doesn't seem like the right move at this time because the work for moving to bootstrap 3 is done.

[2019-11-07 18:13] jqnatividad commented on #184
@akariv updated the details/task list to reflect refactoring goals.

A follow-up meeting involving @adborden, @mogul and @woodt will be scheduled week of Nov 11 to start capturing GSA TTS requirements which will inform specs/implementation tickets for this epic.

[2019-11-08 19:08] avdata99 commented on #153
Tests for _waf-collections_ was created
https://github.com/datopian/ckanext-geodatagov/blob/master/ckanext/geodatagov/tests/test_waf-collection.py

![Selection_2421.png](https://images.zenhubusercontent.com/5d0fa29f8356d802835f2561/03f41aa5-e976-46c0-853d-02d35b5a8948)

This tests works OK at CircleCI config
https://circleci.com/gh/datopian/ckanext-geodatagov

I think _waf_ sources are covered by

[2019-11-12 19:54] adborden opened #188 "Automate provisioning of CCO management server"
## User Story
As an operator, I want the management server to be provisioned automatically through [terraform](https://github.com/GSA/datagov-infrastructure-modules/tree/master/modules/ckan-cloud) so that I can deploy and manage CCO with all the benefits of infrastructure-as-code and release engineering principles, including Identifiability, Reproducibility, Consistency, and Agility.

## Details /

[2019-11-12 20:06] adborden opened #189 "Automated creation of a deploy-able image for CCO management server"
## User Story
As an operator, I want the CCO management server to be provisioned from an image using an automated build process so that any changes or security updates are quickly incorporated into the running instance via immutable deploy.

## Details / tasks
Technology that creates the image is not as important, could be Docker image or AMI for example. The goal is to create an immutable artifac

[2019-11-12 20:57] adborden opened #190 "Create checklist to apply to repos that cover security compliance"
## User Story
As a team member, I want a checklist that I can follow when adding a source code repository to the CKAN Cloud system boundary so that I know exactly what measures need to be implemented for the repository to be covered by our compliance plan.

## Details / tasks
@woodt has a list of issues that cover specific measures that should be enabled on a repository. We want to collect that li

[2019-11-14 04:08] adborden commented on #127
Thanks, looks good.

[2019-11-14 04:08] #127 closed

[2019-11-14 04:09] adborden commented on #135
Looks good.

[2019-11-14 04:09] #135 closed

[2019-11-14 04:10] adborden commented on #137
Are we going to merge this upstream?

[2019-11-14 05:08] adborden commented on #103
Following instructions [here](https://gitlab.com/datopian/ckan-ng-harvest/blob/develop/docker.md) but wasn't sure what environment variables needed to be filled in. `docker-compose up` failed with

[code]

[2019-11-14 16:06] thejuliekramer commented on #130
Continuing to work on testing tests and code changes in CKAN installed from source environment. Code is ready for QA - still working on getting tests running as part of the ckanext test suite

[2019-11-14 16:16] woodt commented on #165
I have access to the required repos.  Am working on the travis pipeline updates.

[2019-11-14 16:21] woodt commented on #160
Both GitHub and GitLab have support for protected branches:

https://help.github.com/en/github/administering-a-repository/configuring-protected-branches

https://docs.gitlab.com/ee/user/project/protected_branches.html

Per our CCO refactoring meeting earlier in the week, we should add protected branch configuration to the CONTRIBUTING.md checklist.  See GSA/datagov-ckan-multi#190.

[2019-11-14 16:25] avdata99 commented on #103
I'm checking

[2019-11-14 16:43] avdata99 commented on #137
I and @akariv are working on this PR: https://github.com/ViderumGlobal/ckan-cloud-docker/pull/68
It's almost finished.

[2019-11-14 18:59] avdata99 commented on #103
@adborden: At _services.webserver.environment_ you should define CKAN_API_KEY and CKAN_BASE_URL.
This points to the CKAN instance you need to harvest to.

At [CKAN Cloud Docker](https://github.com/avdata99/ckan-cloud-docker/blob/7aac946ee7a732379a9c6b7a933ebf5f90b358c7/.docker-compose-harvester_ng.yaml#L41) we use `CKAN_API_KEY=READ_FROM_DB` to read credentials directly from database. Here we need

[2019-11-14 21:41] adborden commented on #103
If we're using Docker Compose, should we just include a CKAN instance as part of the setup?

[2019-11-14 22:03] avdata99 commented on #103
The harvester could run with every CKAN instance, local or remote. The Harvester integrated with CKAN works [at Ckan Cloud Docker](https://github.com/avdata99/ckan-cloud-docker/blob/master/start-harvester.md) and we have a [pending PR](https://github.com/ViderumGlobal/ckan-cloud-docker/pull/68) tu run it. In our demos we used this environment.

[2019-11-14 22:06] adborden commented on #103
Right, it's a good idea to design it that way. But for developer usability, doesn't it make sense to build it so that there is no external dependency on CKAN? Just like how there is no external dependency on Apache Airflow.

[2019-11-14 22:06] adborden commented on #103
*or the external dependency on CKAN is optional.

[2019-11-14 23:22] adborden opened #191 "Authorize and book travel for GSA team to attend UX kickoff"
## Details
UX sessions booked for Dec 16-17, GSA team meeting Dec 18.

https://handbook.18f.gov/travel-guide-table-of-contents/

## Tasks
- [x] @mogul has a travel card and pre-travel work complete
- [x] Authorize travel from @philipashlock over email
- [x] @adborden books travel
- [x] @mogul books travel

[2019-11-18 14:29] avdata99 commented on #137
We require to fix a _datajson_ [harvesting error](https://gitlab.com/datopian/ckan-ng-harvester-core/issues/1) in order to analyze federal or non-federal resources in a different way using _jsonschema_.

[2019-11-18 15:13] kimwdavidson opened #193 "Data.json Harvester bug fixes"
In the legacy data.json extension, we have two validators for federal and non-federal data.json sources.

If you don't configure the harvest source, by default, will be treated as federal.

If it's a federal one, bureauCode is required

The city of Boise has its config correctly defined.

The new harvester is missing this step. We treat all sources the same. We need to fix that and use this JSON v

[2019-11-18 15:15] kimwdavidson opened #194 "Determine Harvester work"
After review of the json harvester running in a real environment, we'll determine how much additional harvester work to undertake in this phase

[2019-11-18 15:17] #176 closed

[2019-11-18 15:18] pwalsh commented on #188
This is similar to the existing issue I have on the CCO tracker: https://github.com/datopian/ckan-cloud-operator/issues/69

I will investigate the additional step of AMI creation.

Related, automating is partly covered by https://github.com/datopian/ckan-cloud-operator/issues/68

[2019-11-18 15:23] pwalsh commented on #189
This is a great idea and highly related to https://app.zenhub.com/workspaces/datagov-multi-tenant-ckan-5cf12b601437ff1e943f0aa2/issues/gsa/datagov-ckan-multi/188

I suggest we first get an end-to-end flow using terraform (or similar) that directly interacts with the APIs of the cloud provider, and then explore bundling that up into pre-built AMIs. What do you think @adborden ?

[2019-11-18 16:15] kimwdavidson commented on #103
We'll deploy this and demo the JSON harvester before discussing this ticket.

[2019-11-18 16:31] kimwdavidson opened #195 "Set up local develop environment for manual harvester testing"
# Description

It is useful to be able to test harvesting jobs manually, on a local machine. In order to support this, the new harvesters need to ship a docker compose configuration that not only sets up a running harvester, but also a running CKAN configured and ready for use as a target for the data that is harvested.

# Acceptance criteria
- [x] Document a Docker Compose command that will set u

[2019-11-18 16:31] kimwdavidson commented on #195
Paul has full context and will follow up to spec this ticket

[2019-11-18 16:44] thejuliekramer commented on #130
Able to now test that  the extension is able to be loaded but having trouble verifying that the stylesheet is loaded because the helper methods defined in the test are not working within the test. I opened an [issue](https://github.com/ckan/ckan/issues/5087) with CKAN and pinged the CKAN gitter channel for help. If we want to go ahead and move along from this task we can at minimum test that the e

[2019-11-18 16:47] kimwdavidson commented on #144
@adborden to find duplicate ticket and close this one

[2019-11-18 16:49] kimwdavidson commented on #146
@adborden to look for duplicate

[2019-11-18 16:50] kimwdavidson commented on #128
Documentation is included in other tickets. Closing

[2019-11-18 16:50] #128 closed

[2019-11-18 16:55] kimwdavidson commented on #143
Needs a bit more research to be estimated. Moving to needs spec

[2019-11-18 16:56] kimwdavidson commented on #131
Only task is completed. Closing. Can reopen if additional issues arise

[2019-11-18 16:56] #131 closed

[2019-11-18 16:57] #62 closed

[2019-11-18 16:58] #110 closed

[2019-11-18 17:24] #97 closed

[2019-11-18 17:27] #44 closed

[2019-11-18 17:29] kimwdavidson commented on #157
@akariv is this already done?

[2019-11-18 17:31] #166 closed

[2019-11-18 17:33] mogul commented on #160
You might consider whether it's possible to automate this via [Terraform's GitHub provider](https://www.terraform.io/docs/providers/github/r/branch_protection.html), which makes auditing easier later.

[2019-11-18 23:28] adborden commented on #146
@avdata99 is adding tests as part of https://github.com/GSA/datagov-ckan-multi/issues/153. That should be sufficient, or we can create a more specific issue for any additional coverage we're looking for.

[2019-11-18 23:28] #146 closed

[2019-11-18 23:30] adborden commented on #144
@avdata99 has implemented tests as part of https://github.com/GSA/datagov-ckan-multi/issues/154.

[2019-11-18 23:30] #144 closed

[2019-11-18 23:42] adborden commented on #188
I think the distinction between this and datopian/ckan-cloud-operator#69 is that this issue is specific to GSA, while the CCO issue is a broader and more generic solution.

For example, datopian/ckan-cloud-operator#69 could include work to create a reusable Terraform module, then this issue would create the Terraform templates and GSA-configuration to consume that module. I wanted to make sure the

[2019-11-19 00:27] adborden commented on #189
Hmm, maybe I'm missing something. So the reason I'm suggesting an AMI is because of these [steps that need to be performed](https://github.com/ViderumGlobal/ckan-cloud-cluster/blob/master/docs/MANAGEMENT.md#create-a-management-server) on the server. I think the AMI makes it a little more straightforward to do immutable deployment. If we went without the AMI, would you be provisioning them via shel

[2019-11-20 10:44] avdata99 commented on #103
We added [a yaml override file](https://gitlab.com/datopian/ckan-ng-harvest/blob/develop/docker-compose-override.sample.yml) in order to add another CKAN instance (with some notes at [docker.md](https://gitlab.com/datopian/ckan-ng-harvest/blob/develop/docker.md)). I add @akariv here to discuss the best way to improve this.

[2019-11-20 16:52] adborden commented on #189
Updated the title and description to reflect that this doesn't have to be an AMI image.

[2019-11-21 15:13] avdata99 commented on #193
This was managed through these issues:
 - At the harvester core library: https://gitlab.com/datopian/ckan-ng-harvester-core/issues/1
 - At the harvester app: https://gitlab.com/datopian/ckan-ng-harvest/issues/64

These changes are waiting for approval at this MR: https://gitlab.com/datopian/ckan-ng-harvest/merge_requests/70

[2019-11-21 16:23] woodt commented on #160
Some additional to do items that require team discussion/decision:

- do we want to identify a subset of collaborators as maintainers?   Maintainer responsibilities would include:
  - merging pull requests to *master*
  - performing code reviews

- are there any status checks (apart from requiring pull request reviews) that we want to enforce before pull requests can be merged to *master*?

I stro

[2019-11-21 16:32] woodt commented on #160
BTW, love your idea about automating this, @mogul!

[2019-11-25 15:16] thejuliekramer commented on #122
Met with @avdata99 this morning. I start with analyzing and increasing test coverage for the [harvester core library](https://gitlab.com/datopian/ckan-ng-harvester-core). Specifically testing changes made when using JSON schema and looking for ways to mock external calls. Once Andres is done with refactoring the [main harvester app](https://gitlab.com/datopian/ckan-ng-harvest/) I will move on to i

[2019-11-25 15:48] woodt commented on #160
Per our team discussion on 21 Nov, we will be stressing auditability over assignment of roles.  E.g., we want to enable branch protection, require pull request reviews (and signed commits), but we don't need to identify a select group of maintainers.

[2019-11-25 15:50] woodt opened #198 "Identify requirements for OS and/or image hardening"
This is needed to implement security controls CM-2 BASELINE CONFIGURATION and CM-6 CONFIGURATION SETTINGS.

[2019-11-25 17:52] adborden commented on #160
Thanks @woodt , let's write this down in our CONTRIBUTING doc. I think this would be part of the repo checklist https://github.com/GSA/datagov-ckan-multi/issues/190.

[2019-11-25 20:05] adborden commented on #159
Right now we're assuming Low, and will pull this out of Icebox when we are ready to finalize this decision.

[2019-11-27 15:57] adborden commented on #189
Closing as duplicate of https://github.com/datopian/ckan-cloud-operator/issues/82

[2019-11-27 15:57] #189 closed

[2019-11-28 12:57] aluminiumgeek opened #199 "Stabilizing cluster"
## Story
We are currently experiencing connection issues to the RDS instance. CKAN instances couldn't establish connection to the Postgres.

Also solr and zookeeper instances couldn't get internal IP due to some AWS VPC issue.

This is the blocker for deploying harvester on the AWS sandbox.

## Acceptance criteria
* [ ] Resolve VPC issue: working solr and zookeeper instances
* [ ] Resolve RDS conn

[2019-12-02 14:14] aluminiumgeek commented on #199
I've tried to recreate one of sample CKAN instance and found deployment couldn't run pod due to security policy issue.
`Error creating: pods "ckan-54774bfbc9-" is forbidden: unable to validate against any pod security policy: []`

According to events log this error was on most of pods in the cluster:
[code]

I've resolved issue related to security policies, and now we've got another issue: pods st

[2019-12-02 16:20] kimwdavidson commented on #160
@woodt to update contributing doc and close.

[2019-12-02 16:23] kimwdavidson commented on #193
Blocked pending cluster fixes

[2019-12-02 16:24] kimwdavidson commented on #137
Blocked pending cluster fixes

[2019-12-02 16:27] avdata99 commented on #153
Open PR pending at: https://github.com/GSA/ckanext-geodatagov/pull/120

[2019-12-02 16:27] kimwdavidson commented on #153
Need #199 resolved in order to review

[2019-12-02 16:38] kimwdavidson commented on #186
Tom to spec for sprint 14

[2019-12-02 16:39] kimwdavidson commented on #184
Esteban to add new tickets to this epic

[2019-12-02 16:43] kimwdavidson commented on #157
@estebanruseler to review if this ticket is still needed

[2019-12-02 16:45] kimwdavidson commented on #122
@thejuliekramer to break this ticket into testing core repo and regular repo

[2019-12-02 17:30] akariv commented on #157
Still needed,  blocked pending cluster fixes

On Mon, Dec 2, 2019 at 6:43 PM Kim Davidson <notifications@github.com>
wrote:

[2019-12-02 21:46] thejuliekramer opened #200 "Test Datajson In Harvester Core"
Test datajson functionality in the [harvester core library](https://gitlab.com/datopian/ckan-ng-harvester-core)

[2019-12-02 21:48] thejuliekramer opened #201 "Test CSW in Harvester Core"
Test CSW functionality in the [harvester core library](https://gitlab.com/datopian/ckan-ng-harvester-core)

[2019-12-02 21:49] thejuliekramer opened #202 "Test Datajson in Harvester App"
Test Datajson functionality in the [new harvester app](https://gitlab.com/datopian/ckan-ng-harvest/)

[2019-12-02 21:50] thejuliekramer opened #203 "Test CSW in Harvester App"
Test CSW functionality in the [new harvester app](https://gitlab.com/datopian/ckan-ng-harvest/)

[2019-12-02 21:51] thejuliekramer commented on #122
@kimwdavidson created 4 issues after talking with Andres

https://github.com/GSA/datagov-ckan-multi/issues/203
https://github.com/GSA/datagov-ckan-multi/issues/202
https://github.com/GSA/datagov-ckan-multi/issues/201
https://github.com/GSA/datagov-ckan-multi/issues/200

[2019-12-03 04:57] adborden opened #204 "Support ckanext-datagovtheme with CKAN 2.3 and 2.8 compatibility"
## User Story

As a Data.gov developer, I want ckanext-datagovtheme to support both CKAN2.3 and CKAN2.8 so that I don't need to maintain a fork of ckanext-datagovtheme.

## Details / tasks

## Acceptance Criteria
- [ ] CI runs tests against 2.3 and 2.8

[2019-12-03 05:05] #130 closed

[2019-12-03 07:18] aluminiumgeek commented on #199
Upgraded aws-vpc-cni to the latest available version (1.5.5), but it didn't help. Still investigating.

[2019-12-04 15:28] aluminiumgeek commented on #199
aws-node pod (which runs amazon-k8s-cni) fails to start on third node named `ip-192-168-164-62` with `Pod Predicate MatchNodeSelector failed` error.
(Command to list aws-node pods: `kubectl -n kube-system get pods -l k8s-app=aws-node`)

This causes pods that are scheduled on this node to stuck on `ContainerCreating` phase with error message: `transport: Error while dialing dial tcp 127.0.0.1:50051

[2019-12-04 15:35] #199 closed

[2019-12-04 15:35] aluminiumgeek commented on #199
Cluster is now stable

[2019-12-04 16:14] avdata99 commented on #195
@akariv @adborden

Developed at [a new branch](https://gitlab.com/datopian/ckan-ng-harvest/tree/66_add_CKAN_container)
[MR created](https://gitlab.com/datopian/ckan-ng-harvest/merge_requests/72)

Some instructions added to [README.md](https://gitlab.com/datopian/ckan-ng-harvest/blob/66_add_CKAN_container/README.md) file

[2019-12-05 17:24] adborden commented on #122
I'm moving these issues to Need Spec, since they are missing Acceptance Criteria.

[2019-12-05 17:29] adborden opened #205 "Add CircleCI integration to ckanext-datagovtheme"
## User Story

As a Data.gov developer, I want CI running automatically on every commit, so that I can ensure only PRs that pass our automated tests can be merged into `master`.

## Details / tasks

## Acceptance Criteria
- [ ] CI runs against several versions of CKAN
        - CKAN 2.8
        - [Catalog fork](https://github.com/GSA/ckan/tree/datagov)
- [ ] GH protected branches enforce CI checks

[2019-12-06 02:32] adborden commented on #199
Hey Mikhail,  does that mean this one mode is somehow misbehaving and
should be removed? Will it be removed automatically?

On Wed, Dec 4, 2019, 7:35 AM Mikhail Mezyakov <notifications@github.com>
wrote:

[2019-12-06 11:31] akariv commented on #195
@avdata99 seems like a lot of duplication with ckan-cloud-docker.
What was wrong with the work that you've already done there?

[2019-12-06 22:46] #191 closed

[2019-12-06 22:46] adborden commented on #191
All set.

[2019-12-09 14:59] woodt commented on #165
Have packaged up the bandit scanner in a CivicActions "drydock" compatible Docker image, drydockcloud/ci-bandit.  Updating the Travis configuration to use this scanner.

[2019-12-09 15:49] avdata99 commented on #193
We deploy and detect an error: https://gitlab.com/datopian/ckan-ng-harvest/issues/68

[2019-12-09 16:47] kimwdavidson commented on #195
@adborden to review, then circle with @akariv and @avdata99

[2019-12-09 16:49] kimwdavidson commented on #153
@avdata99 to QA, then ping @adborden for final approval

[2019-12-09 16:55] kimwdavidson commented on #152
@estebanruseler and @avdata99 to determine if an additional tickets is required for making sure it works on both data.gov and ckan cloud

[2019-12-10 20:13] adborden commented on #165
https://github.com/drydockcloud/ci-bandit

On Mon, Dec 9, 2019 at 6:59 AM Tom Wood <notifications@github.com> wrote:

--
Aaron D Borden
Lead Engineer | IT Specialist
TTS | Data.gov <https://www.data.gov>

[2019-12-11 18:41] thejuliekramer commented on #204
@adborden I don't know if there is a way to run tests using a CI tool because they are dependent on having a running instance of CKAN

[2019-12-11 19:13] adborden commented on #204
Right, and that is exactly what needs to be solved as part of https://github.com/GSA/datagov-ckan-multi/issues/205. The best way is to use Docker Compose to spin up CKAN within a container.

@avdata99 solved this in ckanext-datajson by using the [travis-run.sh script](https://github.com/GSA/ckanext-datajson/blob/610550d9ca63cff20a030a466b6c458a4a68ae4d/.circleci/config.yml) that' I've seen copy/pa

[2019-12-11 20:49] avdata99 commented on #204
I also need integration tests with a CKAN instance running @thejuliekramer @adborden.
We maybe could use [docker-ckan](https://github.com/okfn/docker-ckan) as a base for this. The image is _openknowledge/ckan-base:2.8_.
I'm just think at loud but maybe this is the way.

[2019-12-11 22:11] adborden opened #207 "docker-ckan based workflow for ckanext-geodatagov local development"
## User Story

As a Data.gov developer, I need a [docker-ckan](https://github.com/okfn/docker-ckan) based workflow for local development, so that I can quickly test changes locally and use the same configuration as CI.

## Details / tasks

## Acceptance Criteria
- [x] I can run something like `docker-compose up` to get a local development environment
- [ ] CI uses a similar docker-compose configur

[2019-12-11 22:12] adborden opened #208 "docker-ckan based workflow for ckanext-datajson local development"
## User Story

As a Data.gov developer, I need a [docker-ckan](https://github.com/okfn/docker-ckan) based workflow for local development, so that I can quickly test changes locally and use the same configuration as CI.

## Details / tasks

## Acceptance Criteria
- [x] I can run something like `docker-compose up` to get a local development environment
- [ ] CI uses a similar docker-compose configur

[2019-12-11 22:20] adborden commented on #137
What is the URL for the harvest instance?

[2019-12-12 01:03] avdata99 commented on #137
https://ckan-cloud-harvester-ng-5de80628.datagov.us/

[2019-12-12 01:28] adborden commented on #137
And for airflow?

On Wed, Dec 11, 2019 at 5:03 PM Andres Vazquez <notifications@github.com>
wrote:

--
Aaron D Borden
Lead Engineer | IT Specialist
TTS | Data.gov <https://www.data.gov>

[2019-12-12 16:10] kimwdavidson commented on #184
Duplicate. Closing

[2019-12-12 16:10] #184 closed

[2019-12-12 16:56] #154 closed

[2019-12-13 13:58] estebanruseler commented on #193
Fixed this issue, whilst fixing we found other small bugs. Created a new issue for those.

[2019-12-16 10:50] pwalsh opened #209 "Platform-agnostic CKAN Cloud Operator"
When I standup a cluster of CKANs managed by CCO, I want to be able to automate the required infrastructure deployment in a platform-agnostic way, so I have a consistent foundation for infrastructure resource management that is code-driven and does not require manual configuration steps.

[2019-12-16 10:58] pwalsh commented on #188
@adborden

To make things easier to follow, we added a new, properly documented EPIC for CCO here:

https://app.zenhub.com/workspaces/datagov-multi-tenant-ckan-5cf12b601437ff1e943f0aa2/issues/gsa/datagov-ckan-multi/209

Then following, the tasks that are in this particular issue are fully covered in other backlog items:

- https://app.zenhub.com/workspaces/datagov-multi-tenant-ckan-5cf12b601437ff1

[2019-12-16 11:05] pwalsh commented on #120
@adborden would you feel that this story is sufficiently covered by https://github.com/datopian/ckan-cloud-operator/issues/82 ?

In general, I am not sure we want automatic updates of dependencies, but rather, that when CCO dependencies get updates, a team verifies them, and build a new image of the "management server" which can then be deployed (so, dependencies updates are first verified to pass

[2019-12-16 11:10] pwalsh commented on #143
@adborden

Hey. Different cloud providers deal with this differently from what I know. As we use managed k8s (on GCP for example), some updates are done automatically by the provider, but then there are other cases that require cluster updates, for example, linux vulnerabilities, or types of updates that require manual action and so on. I am not sure that such updates should be automatic - they pr

[2019-12-16 16:56] woodt commented on #165
Currently stuck testing this under travis, as the master branch is failing CI.

[code]

[2019-12-16 16:56] avdata99 commented on #153
Fixed review from Aaron error (GSA badges) (at the [open PR](https://github.com/GSA/ckanext-geodatagov/pull/120))
Fixing CircleCI errors
Testing manually GeoDataGov at our sandbox (not finished harvesting)

[2019-12-16 17:09] woodt commented on #165
So, although the problem above seems to be failing in the master branch (and there may be other issues), it looks like the security scanning is working in Travis!

[2019-12-16 17:17] kimwdavidson commented on #137
@adborden and @avdata99 to review this together. Coordinate over slack

[2019-12-16 17:21] kimwdavidson commented on #195
Adam to decide whether to merge PR, once merged, move to QA and assign to Aaron

[2019-12-16 18:43] avdata99 commented on #153
The [PR](https://github.com/GSA/ckanext-geodatagov/pull/120) was updated and it's ready
To be able to do some QA at [the sandbox](https://ckan-cloud-harvester-ng-5de80628.datagov.us/harvest/geo-argis-test/job/last) we need one of this two:
 - Update ckan-clod-docker with the new version (maybe we need to re-deploy it). This is already pushed to the Datopian repo.
 - Merge the PR and update the ref

[2019-12-16 22:58] woodt commented on #165
Pull requests in https://github.com/ViderumGlobal/ckan-cloud-provisioning-api/pull/8 and https://github.com/datopian/ckan-cloud-operator/pull/96, ready to be reviewed/merged.

[2019-12-16 23:03] woodt commented on #165
@akariv assigned to you to take a peek at the pull requests above.

[2019-12-16 23:29] adborden commented on #120
Yes, but what event would notify the developer that it's time to rebuild the image with updated dependencies (specifically, Jenkins or its plugins)?

[2019-12-17 01:45] #160 closed

[2019-12-17 13:26] estebanruseler commented on #209
Updated epic after aligning on this epic with Adam: 72, 73, 74, 75 and 85 are not directly relevant to GSA CCO so were removed from the epic

[2019-12-17 16:00] avdata99 commented on #137
It's just with [/airflow](https://ckan-cloud-harvester-ng-5de80628.datagov.us/airflow) at the end.

[2019-12-17 22:27] adborden commented on #209
Updated the title based on the conversation this morning. This encompasses more than just GSA's immediate need of deploying from scratch into the GSA sandbox.

[2019-12-17 22:48] adborden opened #210 "Deploy CCO to GSA sandbox"
## User Story
As a Data.gov operator, I want CCO deployed into the GSA sandbox using GSA's existing CI/CD pipeline so that I know what challenges exist in deploying it into a GSA environment and can see changes deployed iteratively as new features are added to CCO.

## Details / tasks

From the conversation this morning, deploying into the GSA sandbox and short-cutting much of the work in https://

[2019-12-18 14:47] adborden commented on #188
For https://github.com/datopian/ckan-cloud-operator/issues/78, I'm not seeing anything specific to GSA. My [suggestion](https://github.com/datopian/ckan-cloud-operator/issues/78#issuecomment-559194048) was to scope it down, or add GSA specific tasks. However, I think this issue captures that work best for GSA.

[2019-12-18 17:42] adborden opened #211 "/airflow does not route to airflow admin"
/airflow does not work, but /airflow/ does.

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

[2019-12-19 14:46] kimwdavidson commented on #153
@akariv  ^

[2019-12-19 15:59] rufuspollock commented on #125
@kimwdavidson the retitle of this issue is incorrect - the migration of theme is #130. This is the epic issue for the complete Upgrade from V2.3 to V2.8

[2019-12-19 16:14] thejuliekramer commented on #204
Code is here: https://github.com/thejuliekramer/ckanext-datagovtheme

[2019-12-19 16:16] thejuliekramer commented on #130
Code is here: https://github.com/thejuliekramer/ckanext-datagovtheme Issue moved to https://github.com/GSA/datagov-ckan-multi/issues/204

[2019-12-19 16:30] woodt commented on #164
Figured out a way to resolve the conflicting dependency issue.  Will finish this work (and spin up another ticket to deal with the no longer supported flask-oauthlib.

[2019-12-19 16:57] kimwdavidson commented on #193
@avdata99 merging, testing locally. adam to deploy to sandbox, then move to QA

[2019-12-19 16:58] kimwdavidson commented on #195
@avdata99 making changes based on adam's review

[2019-12-23 15:20] woodt commented on #198
Met with Aaron on Friday 12/20 to discuss ... will add notes to this ticket.

[2019-12-23 16:11] #200 closed

[2019-12-23 16:25] kimwdavidson commented on #194
Next priority: Get new harvester work working on current data.gov

[2019-12-23 16:25] #194 closed

[2019-12-24 08:45] akariv commented on #153
@avdata99
Please ensure the ckan-cloud-docker ckan image was rebuilt after you last updated the geodatagov extension in the datopian fork.
Then fetch the tag of that image and create a PR here:
https://github.com/ViderumGlobal/datagov-ckan-cloud-provisioning-api/blob/6ca451b7fc36a5a837b9327ebd16497c8b8adec0/kinds/kind-harvester.yaml#L8
and assign it to me so I can redeploy.

[2019-12-24 08:48] akariv commented on #193
@avdata99 please comment here with the latest ckan-ng-harvest docker image tag so I can redeploy when ready.

[2019-12-24 08:52] akariv commented on #165
Done.

[2019-12-24 08:52] #165 closed

[2019-12-24 08:53] akariv commented on #157
Done in here:
https://github.com/ViderumGlobal/ckan-cloud-helm/blob/master/ckan/templates/harvester-deployment.yaml

[2019-12-24 08:53] #157 closed

[2019-12-26 13:31] avdata99 commented on #204
I tested this new theme's version with CKAN-Cloud docker.
First I resolved the conflicts. Now, [the PR](https://github.com/ViderumGlobal/ckan-cloud-docker/pull/65) is ready to merge @akariv.

What I saw:
![Screenshot-20191226102015-1089x580.png](https://images.zenhubusercontent.com/5d0fa29f8356d802835f2561/fb65016f-00c0-4f3d-a9c6-c6595c9b8fe6)

![Screenshot-20191226101703-1102x589.png](https://ima

[2019-12-26 16:28] woodt commented on #164
See also https://github.com/ViderumGlobal/ckan-cloud-provisioning-api/pull/9

[2019-12-26 16:39] avdata99 commented on #193
Uploading to [avdata99/ckan-ng-harvest](https://hub.docker.com/repository/docker/avdata99/ckan-ng-harvest) @akariv. Will be upload in the next 2 hours.

[2019-12-26 16:44] avdata99 commented on #195
Branch 66 still not merged.
We still have some pendings definition at the [PR](https://github.com/datopian/ckan-ng-harvest/pull/6)

[2019-12-26 16:46] kimwdavidson commented on #185
deprioritizing for now. back to the backlog

[2019-12-26 16:55] akariv commented on #193
@avdata99 Working with manually built images is ill-advised.
ckan-ng-harvest docker images should be automatically built in CI and get uploaded here: https://hub.docker.com/r/viderum/ckan-ng-harvest

This was done by GitLab CI - when moving from GitLab CI to Travis CI, this functionality needs to also be migrated.

[2019-12-26 16:57] kimwdavidson opened #213 "Data.gov extensions are CKAN 2.8-ready"
**Acceptance Criteria**

- [ ] Extensions can be run against 2.8, tests and CI are configured to tests against CKAN 2.8

[2019-12-26 16:58] kimwdavidson commented on #125
Out of date, replaced with #213

[2019-12-26 16:58] #125 closed

[2019-12-26 17:09] akariv commented on #195
There are still a lot of CR issues and comments which were not resolved
yet...
Waiting for @avdata99 to complete the CR fixes before we can merge this PR.

On Thu, Dec 26, 2019 at 7:02 PM Kim Davidson <notifications@github.com>
wrote:

[2019-12-26 17:22] kimwdavidson commented on #138
Maybe not the right technical approach. @woodt to create new ticket for audit log

[2019-12-26 17:22] #138 closed

[2019-12-26 20:16] avdata99 commented on #153
Fixed many of these reviews. The last one is to define the CKAN imagen to use (OKF or Viderum CKAN cloud docker)

[2019-12-26 20:21] avdata99 commented on #193
We expect to build and upload docker images at #8 (https://github.com/datopian/ckan-ng-harvest/issues/8).
The issue was fixed. We can do some QA just locally by now.
I also built and upload as avdata99/ckan-ng-harvest to test.
I think this is not related to the issue and we can close this.

[2019-12-26 20:49] akariv commented on #193
To test locally it's fine, but in order to deploy to the sandbox it needs to be properly built.

[2019-12-26 20:54] akariv commented on #153
@avdata99 I believe this last comment is for #195 and not for this issue, correct?

[2019-12-27 12:24] avdata99 commented on #195
Fixed many of these reviews. The last one is to define the CKAN imagen to use (OKF or Viderum CKAN cloud docker)

[2019-12-27 13:44] avdata99 commented on #153
@akariv, updated to last Julie's commit: https://github.com/ViderumGlobal/datagov-ckan-cloud-provisioning-api/pull/3

[2019-12-27 20:10] avdata99 commented on #193
Done [here](https://github.com/datopian/ckan-ng-harvest/issues/8#issuecomment-569333314)

[2019-12-28 08:07] akariv commented on #193
Please update the harvester docker image tag in the
datagov-ckan-provisioning-api PR you opened as 'harvesterImage'

On Fri, Dec 27, 2019, 22:10 Andres Vazquez <notifications@github.com> wrote:

[2019-12-29 01:48] thejuliekramer commented on #204
@avdata99 That branch is very old can you test with this branch https://github.com/GSA/ckanext-datagovtheme/pull/32

[2019-12-29 01:48] thejuliekramer commented on #205
Circle CI added in this branch https://github.com/GSA/ckanext-datagovtheme/pull/32

[2019-12-30 15:49] avdata99 commented on #204
Now it seems ok @thejuliekramer
With your version I see it like this:
![image.png](https://images.zenhubusercontent.com/5d0fa29f8356d802835f2561/7c452323-f28c-4e4c-9fbf-c41835f4cea3)

[2019-12-30 16:01] avdata99 commented on #204
@thejuliekramer:
Error trying to show _datasets_ (after adding with legacy harvester)

[code]

![image.png](https://images.zenhubusercontent.com/5d0fa29f8356d802835f2561/58991b92-f0e6-4482-8991-8b0e563bf1db)

[2019-12-30 16:23] avdata99 commented on #153
We still have this [PR](https://github.com/GSA/ckanext-geodatagov/pull/120) opened.
Since the [CircleCI tests](https://circleci.com/gh/datopian/ckanext-geodatagov) are running OK I think we can close this and eventually add more tickets if we detect some failures after the QA in the sandbox.

[2019-12-30 16:24] adborden commented on #152
I think now that we've clarified the value and the goal for this work, we can fold the remaining tasks into https://github.com/GSA/datagov-ckan-multi/issues/213 and close this.

[2019-12-30 16:26] adborden commented on #158
@woodt I believe this work is mostly focused on the CCO work, and so we should icebox this epic since we are pausing the CCO work.

[2019-12-30 16:29] adborden opened #214 "Integrate ckan-ng-harvester into Data.gov"
As a Data.gov operator, I want to use [ckan-ng-harvester](https://github.com/datopian/ckan-ng-harvester-core) to run and manage all harvesting on the Data.gov platform so that I can get the latest benefits and fixes for reduced operations and maintenance effort required for Data.gov.

[2019-12-30 16:32] adborden opened #215 "Next gen data.json harvesters are running daily on staging"
As a Data.gov developer, I want [ckan-ng-harvester](https://github.com/datopian/ckan-ng-harvester-core) running on cloud.gov so that I can manage my application following TTS best practices and get all of cloud.gov's benefits (no infrastructure or platform maintenance, reduced compliance cost, better debugging, etc).

## Details
- add configuration for ckan instance
- add or toggle one source (e.g

[2019-12-30 16:33] adborden opened #216 "ckan-ng-harvester is running side-by-side with existing legacy harvesters"
As a Data.gov operator, I want ckan-ng-harvester running side-by-side with the legacy harvesters so that I can transition to ckan-ng-harvester in an incremental way.

## Details

## Acceptance criteria

[2019-12-30 16:33] adborden opened #217 "ckan-ng-harvester can be enabled for an individual harvest source"

[2019-12-30 16:36] adborden opened #218 "ATO ckan-ng-harvester"

[2019-12-30 16:39] adborden opened #219 "ckan-ng-harvest sends a report of the queue status"

[2019-12-30 16:45] woodt commented on #158
Makes sense!  There probably will be ATO tasks needed, though, for other new work (NG harvester?)

[2019-12-30 16:47] adborden commented on #215
@mogul has done some work to get airflow running in cloud.gov. Can you publish that work on a branch, or as a gist?

[2019-12-30 17:02] woodt commented on #198
Because there is a little uncertainty in the exact ATO path we'll take, we agreed to take a "good intentions" approach to hardening that is likely to meet our ATO needs as well as improve the security of the system.

Roughly, we will be deploying two types of components:

(1) components that consist of a server running an operating system.  Examples would be an EC2 instance.  These components will

[2019-12-30 17:15] kimwdavidson commented on #153
Aaron to review PR then move to QA and QA

[2019-12-30 17:16] kimwdavidson commented on #193
Duplication error ready for QA

[2019-12-30 18:19] kimwdavidson commented on #152
duplicate of #213. Closing

[2019-12-30 18:19] #152 closed

[2019-12-30 18:20] kimwdavidson commented on #152
done!

On Mon, Dec 30, 2019 at 11:24 AM Aaron D Borden <notifications@github.com>
wrote:

--
Kim Davidson
CivicActions <http://civicactions.com>
e: kim.davidson@gmail.com
Skype: kwdavidson

[2019-12-31 19:46] adborden commented on #158
Yes, but we'll capture that in it's own issue https://github.com/GSA/datagov-ckan-multi/issues/218.

I'll rename this for now.

[2019-12-31 22:04] adborden opened #220 "ckan-ng-harvest sends actionable reports to data contacts"
## User Story

As a Data owner, I want to receive actionable reports when ckan-ng-harvest harvests my datasets so that I can fix any harvest issues specific to my datasets without someone having to track me down or attempt to fix it with missing context.

## Details / tasks
Currently, data.gov harvests send harvest reports to the agency data contact (and not dataset owners). The reports are often

[2019-12-31 22:25] adborden commented on #193
If I'm understanding the history correctly, https://github.com/datopian/ckan-ng-harvest is now building docker images to be consumed by https://github.com/ViderumGlobal/datagov-ckan-cloud-provisioning-api. The data.json bugfixes described in the issue are done and published in the latest ckan-ng-harvest image, but we still need to update https://github.com/ViderumGlobal/datagov-ckan-cloud-provisio

[2019-12-31 22:48] adborden commented on #137
Last week @avdata99 walked me through this.

[2019-12-31 22:48] #137 closed

[2019-12-31 22:51] adborden commented on #172
@woodt can you clarify what you mean by "front matter" items?

[2020-01-02 16:26] akariv commented on #188
We now have an AMI containing terraform, cco and Jenkins.
It has all the required code to provision an EKS cluster & other required services using Terraform & CCO.
Everything is built and continuously tested in CI.

[2020-01-02 16:27] akariv commented on #188
Would be good to do a peer session with @adborden to provision a new cluster (to replace the current, unstable one).

[2020-01-02 17:31] adborden commented on #153
Approved https://github.com/GSA/ckanext-geodatagov/pull/120, left a few comments.

[2020-01-03 12:53] avdata99 commented on #153
Fixed attending all comments. Tests are not passing. Fixing

[2020-01-03 14:26] avdata99 commented on #153
I send this [PR](https://github.com/GSA/ckanext-harvest/pull/7) @adborden.
Is for fix tests.

[2020-01-03 15:20] avdata99 commented on #153
By Accepting the PR (simulated [here](https://github.com/datopian/ckanext-geodatagov/commit/526a786f2fe2c9fcf2a3291d25754476254ac674)) at ckanex-harvest [tests at CircleCI passes ok](https://circleci.com/gh/datopian/ckanext-geodatagov/tree/1_test_waf_collection)

[2020-01-06 14:20] woodt commented on #198
Here's a gitlab CI config to demonstrate how to run Trivy against a sample of our images, and attached is the output from a recent run.[https://app.zenhub.com/files/153296282/74ee2c6a-2239-43ec-ade0-2dfc2f4a18e8/download](https://app.zenhub.com/files/153296282/74ee2c6a-2239-43ec-ade0-2dfc2f4a18e8/download)

[code]

[2020-01-06 14:28] avdata99 commented on #193
Ok. @akariv could merge this and update the sandox to test it.

[2020-01-09 15:09] avdata99 commented on #204
All the error in UI I sent to Julie now is working fine.

![image.png](https://images.zenhubusercontent.com/5d0fa29f8356d802835f2561/efd0df0d-b84a-40d0-95f8-09ce1db3bcc7)

[2020-01-11 01:19] adborden commented on #198
@woodt looks good. So what do you suggest for next steps? We now have an Ubuntu AMI built, so where should we insert the hardening? @akariv are you okay if we apply the CIS benchmark to this AMI, or should this be done as a GSA image?

For containers, should we create an issue to add trivy to ckan-cloud-docker? @akariv again, not sure if this should be done at the datopian level, or if this should

[2020-01-11 01:32] adborden commented on #198
Here's the [packer template](https://github.com/datopian/ckan-cloud-operator/blob/master/terraform/aws/ami/cco.json) that builds the CCO AMI.

[2020-01-13 17:16] kimwdavidson commented on #195
@avdata99 finished work from reviews on Friday. @akariv to review changes and merge, move to QA and assign to @adborden

[2020-01-13 17:19] kimwdavidson commented on #188
Adam completed documentation today. @estebanruseler to schedule a session for GSA to deploy themselves.

[2020-01-13 18:06] avdata99 commented on #195
Moving to QA since the PR is reviewed and merged

[2020-01-13 18:09] avdata99 commented on #195
Assigned to @adborden to QA.
We can run this together Aaron if you prefer.

[2020-01-16 18:34] thejuliekramer commented on #207
In my mind the result of this would be a github repo inside GSA that includes a README with instructions and links to the repositories needed to create this local environment. Does this sound right or does GSA have a better place to put documentation. @adborden

[2020-01-16 18:34] thejuliekramer commented on #208
In my mind the result of this would be a github repo inside GSA that includes a README with instructions and links to the repositories needed to create this local environment. Does this sound right or does GSA have a better place to put documentation. @adborden

[2020-01-22 15:38] thejuliekramer commented on #204
This is deployed to my test environment at https://ckan-cloud-julie-development-5e26b6a9.ckan-aws-testing.gq/ and ready to be QA'd @adborden

[2020-01-22 15:39] thejuliekramer commented on #207
@adborden the current CCO docker can do what this task is asking but it does require some configuration... where should the details of this configuration live?

[2020-01-22 15:39] thejuliekramer commented on #208
@adborden the current CCO docker can do what this task is asking but it does require some configuration... where should the details of this configuration live?

[2020-01-22 16:57] adborden commented on #215
https://github.com/mogul/airflow-cloudgov

[2020-01-22 17:37] adborden commented on #208
It should live in ckanext-datajson. The idea is the repo is self contained. Anything you need to run/test the extension is provided through the docker setup, using a single command.

[2020-01-22 17:38] adborden commented on #207
It should live in ckanext-geodatagov. The idea is that this repo is completely self contained. Anything you need to run/test the extension is provided through the docker setup, using a single command.

[2020-01-22 17:41] adborden commented on #205
I just enabled required CI checks for `master`, looks good.

[2020-01-22 17:41] #205 closed

[2020-01-22 17:43] adborden commented on #204
:+1:

[2020-01-22 17:43] #204 closed

[2020-01-22 20:38] avdata99 commented on #217
Change proposed:
Add a setting value in _ckanext-harvest_ to define wich app is going to run this harvest process. Defaults to CKAN (local instance).

PR at ckanext-harvest: https://github.com/GSA/ckanext-harvest/pull/10/files

If this seems OK for all my next step is to use this config value in NG harvester to only harvest this marked sources.
@akariv @adborden

[2020-01-23 15:22] estebanruseler commented on #193
@akariv this is now unblocked so moving this in progress. @avdata99 has tested locally and in sandbox. Did you want to do additional testing or can we move to QA.

[2020-01-23 17:00] kimwdavidson commented on #164
@woodt to add QA instructions, then pass to @akariv for QA

[2020-01-25 01:25] adborden commented on #188
AC for deploying into the GSA environment isn't met, but we're going to call this done and move on.

[2020-01-25 01:25] #188 closed

[2020-01-27 16:36] kimwdavidson commented on #215
Split this into three tickets

[2020-01-27 16:38] kimwdavidson opened #222 "Create staging environment for next gen harvester"
## User Story
As a Data.gov developer, I want ckan-ng-harvester running a staging environment on cloud.gov so that I can manage my application following TTS best practices and get all of cloud.gov's benefits (no infrastructure or platform maintenance, reduced compliance cost, better debugging, etc).

## Details / tasks
- set up airflow
- set up database service
- set up next gen harvester

## Acce

[2020-01-27 16:43] kimwdavidson opened #223 "Next gen harvester is updated via continuous deployment"
## User Story

## Details / tasks

## Acceptance Criteria
- [ ]  ckan-ng-harvester is deployed to staging via CircleCI on every push to the master branch

[2020-01-27 16:47] kimwdavidson commented on #222
Airflow setup started here: https://github.com/mogul/airflow-cloudgov

[2020-01-27 17:22] adborden commented on #223
I updated the User Story to be more specific to this story's goals.

[2020-01-27 17:23] kimwdavidson commented on #216
Duplicate of #217. Closing

[2020-01-27 17:23] #216 closed

[2020-01-29 19:08] adborden commented on #195
@avdata99 when I start the docker containers, CKAN complains that it cannot connect to the database due to an invalid password.

[code]

[2020-01-29 19:19] adborden commented on #153
@avdata99 can you update the README to describe how to run the automated tests?

[2020-01-29 19:24] adborden opened #224 "Publish Data.gov CKAN extensions to pypi"
## User Story
As a Data.gov operator, I want the Data.gov CKAN extensions published to PyPi so that I can install them just like I would any other python dependency.

As a CKAN developer, I want the Data.gov CKAN extensions published to PyPi so that I can easily install the latest stable version of the extensions.

## Details / tasks
Data.gov CKAN extensions
- https://github.com/GSA/ckanext-datajs

[2020-01-30 12:41] avdata99 commented on #153
I added this notes: https://github.com/GSA/ckanext-geodatagov/pull/124/files
Let me know if is this ok @adborden
A docker environment to run tests locally will be included in [#multi-207](https://github.com/GSA/datagov-ckan-multi/issues/207).

[2020-01-30 15:13] estebanruseler commented on #193
@moved to QA. This can be tested along with 195. I can't seem to re-assign to Aaron

[2020-01-30 15:16] woodt opened #225 "CCO management AMI should be security hardened"
The CCO management AMI should be security hardened.  Given that it is based on Ubuntu, I would recommend using the CIS Benchmark as the standard.  There are several implementations of automatic hardening to that benchmark.  One based on ansible can be found here: https://github.com/florianutz/Ubuntu1804-CIS.

Acceptance:

[ ] the CCO management AMI is automatically hardened according to a CIS benc

[2020-01-30 15:17] woodt commented on #198
https://github.com/GSA/datagov-ckan-multi/issues/225

[2020-01-30 15:25] woodt opened #226 "CCO docker images should be scanned for container level security vulnerabilities"
The CI/CD pipelines that produce CCO docker images should scan the images for vulnerabilities using an image scanner.  We recommend trivy (but another scanner might be acceptable.)

Acceptance criteria:

[ ] Images are scanned automatically as part of the CI/CD pipeline
[ ] Results are logged

[2020-01-30 16:46] kimwdavidson commented on #198
Aaron to take a look at tickets and close

[2020-01-30 16:49] #210 closed

[2020-01-30 16:54] kimwdavidson opened #227 "Complete team charter"
- [x] add to repo
- [x] Sign off
- - [x] Hyon
- - [x] Aaron
- - [x] Bret
- - [x] Julie
- - [x] Adam
- - [x] Andres
- - [x] Esteban
- - [x] Kim
- - [x] Tom
- - [x] Paul

[2020-01-30 16:57] kimwdavidson opened #228 "Docker based workflow for ckanext-datagovtheme"
## User Story

As a Data.gov developer, I need a [docker-ckan](https://github.com/okfn/docker-ckan) based workflow for local development, so that I can quickly test changes locally and use the same configuration as CI.

## Details / tasks

## Acceptance Criteria
- [x] I can run something like `docker-compose up` to get a local development environment
- [ ] CI uses a similar docker-compose configur

[2020-01-30 18:15] adborden commented on #198
Looks good, thanks!

[2020-01-30 18:15] #198 closed

[2020-01-30 18:39] avdata99 commented on #195
I update the images (I had custom ones)

[code]

Now I'm able to reproduce the error

[2020-02-03 16:24] #64 closed

[2020-02-03 16:41] kimwdavidson opened #229 "Discovery: Review existing forks"
(_Esteban updated this issue 9th March to make it into a purely discovery ticket. I've updated the ticket with latest situation. Please see [refer to this](https://hackmd.io/FsYGp4dAR6uC6AdsnOLuIA?sync=&type=) for the previous version in case you want to see what I changed._)

## User Story
As a developer, I want to know the state of all of our forks, so I know how much work we have ahead to tidy

[2020-02-03 16:43] kimwdavidson opened #230 "Establish forks and upstreaming rules"
## User Story
As a developer, I want to know the forks and upstreaming rules, so that I can keep my repos neat and maintainable

## Details / tasks
Topics
- tests
- documentation
- management of forks during transition

## Acceptance Criteria
- [ ] Document rules in readme

[2020-02-04 14:49] kimwdavidson opened #231 "Top tasks exercise"
## User Story
As the development team, we want to know which tasks are most important to our users, so that we can make sure we prioritize work appropriately

## Details / tasks
- define top tasks
- create survey
- give survey in open data call

## Acceptance Criteria
- [ ] List of prioritized top tasks in this ticket

[2020-02-05 12:13] akariv commented on #229
@adborden you mentioned you've already made an initial analysis of the forks - can you share that spreadsheet?

[2020-02-05 16:43] thejuliekramer commented on #207
Sent PR to @adborden

[2020-02-05 18:43] thejuliekramer commented on #207
https://github.com/GSA/ckanext-geodatagov/pull/123

[2020-02-06 00:01] thejuliekramer commented on #208
This has been implemented in this PR https://github.com/GSA/ckanext-datajson/pull/55. The build is failing because the datagov main branch CI is failing. I believe @avdata99 fixes that here https://github.com/GSA/ckanext-datajson/pull/54. Is it possible to merge this before mind so we see the clean build?

[2020-02-06 14:10] woodt commented on #164
I've confirmed locally that when a vulnerable library is installed, the safety scanner detects the problem and the travis shell script will report and exit.  Unfortunately, the actual travis CI pipeline is failing before the scan is run -- seems to have something to do with the minikube setup.

[2020-02-06 14:20] woodt commented on #190
@aaron: so me thinks this checklist should be added to GSA/datagov-ckan-multi/CONTRIBUTING.md first, but then also to:

- GSA/ckanext-geodatagov
- GSA/ckanext-datagovtheme

and I suppose, pending fork resolution? :-)

- GSA/ckanext-datajson

some of the latter CONTRIBUTING docs haven't been updated in a while.

I'd also like to see equivalent text added to some of the Datopian repos (especially th

[2020-02-06 16:54] kimwdavidson opened #232 "CCO Travis pipeline failing"
Adam to determine if this affects just the CCO or all deployments

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

[2020-02-10 14:01] woodt commented on #232
I created a branch based on master with no other changes, and it fails repeatedly setting up the minikube provider:

[code]

[2020-02-10 14:43] akariv commented on #232
I will look into it, thanks for letting me know.

On Mon, Feb 10, 2020 at 4:01 PM Tom Wood <notifications@github.com> wrote:

[2020-02-10 15:47] adborden commented on #229
Turns out this didn't exist as a spreadsheet, so I had to put it together from other docs: https://docs.google.com/spreadsheets/d/1LgVvgiUC5Vc-OQaSmtvQNlTFLhs3Mho65ekggYEiYh4/edit#gid=0

[2020-02-10 15:48] adborden commented on #230
Some prior work here to start https://github.com/GSA/datagov-deploy/wiki/Managing-Forks

[2020-02-10 15:48] #153 closed

[2020-02-10 16:22] kimwdavidson commented on #190
Keep in ckan-multi, link to there from other repos

[2020-02-11 15:21] thejuliekramer opened #233 "Forks Reconciliation"
# Forks Plan

## Verify Current State

1. [ ] Review the spreadsheet and verify that it is complete and correct
    - [Spreadsheet](https://docs.google.com/spreadsheets/d/1LgVvgiUC5Vc-OQaSmtvQNlTFLhs3Mho65ekggYEiYh4/edit?ts=5e4177f8#gid=0)
    - Where is the Production Environment configuration? (for both instances, catalog & inventory)
2. [ ] Verify that none of the extensions currently in produc

[2020-02-11 16:29] kimwdavidson commented on #233
needs to be combined with #229

[2020-02-13 00:53] adborden opened #234 "Docker based workflow for USMetadata extension"
## User Story

As a Data.gov developer, I need a [docker-ckan](https://github.com/okfn/docker-ckan) based workflow for local development, so that I can quickly test changes locally and use the same configuration as CI.

## Details / tasks

## Acceptance Criteria
- [ ] I can run something like `docker-compose up` to get a local development environment
- [ ] CI uses a similar docker-compose configur

[2020-02-13 01:47] adborden opened #235 "CI images should be using modern image versions"
CI is using an [Ubuntu Trusty image](https://github.com/GSA/ckanext-datajson/blob/4e6b11177f8df5733911826c762caf0c73267ed9/.circleci/config.yml#L6), which has been end-of-life since April 2019. We should be using modern versions of images, similar to the environments our extensions will run in. Ideally, we'd be using the docker executor instead of the machine executor. [CircleCI available machine

[2020-02-13 02:53] adborden commented on #208
https://github.com/GSA/ckanext-datajson/pull/54 is merged and the build is passing, now.

[2020-02-13 02:54] adborden commented on #193
:+1:

[2020-02-13 02:54] #193 closed

[2020-02-13 13:09] estebanruseler commented on #232
This just affects CCO not the sandbox deployment. The only reason to do this is so that Tom's security features can be incorporated into CCO. Suggest we icebox this.

[2020-02-13 16:15] thejuliekramer commented on #228
PR is here https://github.com/GSA/ckanext-datagovtheme/pull/35

[2020-02-13 16:46] estebanruseler commented on #164
Iceboxed as not improving CCO currently

[2020-02-14 18:01] #231 closed

[2020-02-14 18:01] #195 closed

[2020-02-14 18:09] kimwdavidson commented on #233
Combined. Closing.

[2020-02-14 18:09] #233 closed

[2020-02-14 18:22] kimwdavidson opened #238 "Provision access to cloud.gov"
## User Story
Team members should have access to cloud.gov, so that they can work on it.

## Details / tasks

## Acceptance Criteria
Everyone on the team has an account and has read the tutorial
- [x] Kim
- [x] Tom
- [x] Julie
- [x] Esteban
- [x] Adam
- [x] Andres

[2020-02-14 18:27] kimwdavidson opened #239 "Determine next steps for opportunity backlog"
## User Story
As the development team, we want an actionable opportunity backlog, so that we can know we are spending our time on the right things for our users

## Details / tasks
- [ ] review opportunity backlog together to integrate comments and top tasks results
- [ ] plan and schedule next interviews

## Acceptance Criteria
- [ ] We've identified the gaps and what is needed in order to have a

[2020-02-18 16:44] estebanruseler commented on #229
Syned with Julie and Andres. We have agreed a way forward.

[2020-02-19 07:11] mogul commented on #238
Invitations sent!

Here is the quickstart page we often refer people to, as well as a simpler page for reference.
- [Quick Start](https://cloud.gov/quickstart)
- [Getting Started](https://cloud.gov/docs/getting-started/your-first-deploy/) (other details here)

[2020-02-19 07:18] mogul commented on #238
Here's the "official" [beginner training](https://www.cloudfoundry.org/trainings/cloud-foundry-beginners-zero-hero/).

[2020-02-20 17:52] adborden commented on #230
This is done https://github.com/GSA/datagov-deploy/wiki/Managing-Forks.

Not sure if the wiki is the best place for it, would certainly like a review.

[2020-02-21 20:00] avdata99 commented on #229
I added all the missing repos from the requirements files at [catalog-app](https://github.com/GSA/catalog-app/) and the [inventory-app](https://github.com/GSA/inventory-app/). I think we are done with the elements in the list.

I mark some forks for me and others for Julie

I checked all the requirements files to find not-pypi linked repos. I marked red (some things outside Pypi) and green (all in

[2020-02-22 01:24] adborden commented on #229
Thanks @avdata99 , change to commits column sounds good.

As we do analysis, if we can rebase onto the latest version of upstream, we should try to do that. But if it's challenging or there is uncertainty, then we can punt.

The goal is not to reconcile all of the forks, but to be able to identify and prioritize what we should do now.

For example ckanext-saml2 handles authentication, so it's impo

[2020-02-24 17:48] avdata99 commented on #229
I'll start my analysis on ckanext-saml2 @adborden
I just added info about test, CI, branch dates, upstream and CKAN compatibility.
I will start adding new well-documented tickets for each repo.

[2020-02-24 19:04] estebanruseler commented on #230
Adam, Andres and Esteban have reviewed. In general a big thumbs up but a few minor things to clarify.

[2020-02-24 20:11] kimwdavidson commented on #230
@thejuliekramer to review and move to done

[2020-02-24 20:12] #208 closed

[2020-02-24 20:16] #190 closed

[2020-02-24 20:25] avdata99 commented on #224
I am familiar with this task so I can collaborate with whoever does it

[2020-02-25 18:22] #207 closed

[2020-02-25 22:21] #228 closed

[2020-02-25 23:22] #230 closed

[2020-03-05 22:31] kimwdavidson opened #244 "Metadata entry validation"
## User Story

As a data manager, I want the metadata that's published to be standards-compliant so that the data is easy for data consumers to use.

## Hypothesis
We believe providing an interface to enter validated metadata for data owners would improve metadata quality and save data managers time.

## Acceptance Criteria
- [ ] Majority of data managers react positively and report that this woul

[2020-03-05 22:34] kimwdavidson opened #245 "Create prototype for testing metadata entry UI"
## Details / tasks
- [x] Determine current CKAN metadata entry functionality and any gaps between current functionality and prototype needs
- [x] Determine current DKAN2 metadata entry functionality and any gaps between current functionality and prototype needs
- [x] create demo site
   - [x] [ticket for CKAN site](https://app.zenhub.com/workspaces/datagov-multi-tenant-ckan-5cf12b601437ff1e943f0aa

[2020-03-05 22:41] kimwdavidson opened #246 "Develop user testing recruitment database"
## User Story

As a product team, I want to be able to easily find users to test our work, so that we can know we're achieving value for them.

## Acceptance Criteria
- [x] Spreadsheet of users interested in being contacted for user testing

## Details / tasks
- [x] Create Google form to send to users
- [x] Users should select roles as  "data owners," "data managers," "data consumers," "OMB," and

[2020-03-05 22:47] kimwdavidson opened #247 "Set up data owner test of prototype for metadata entry UI"
## Details / tasks
- [x] Recruit data owners
- [x] Write test script for prototyping metadata entry UI with data owners

[2020-03-05 22:49] kimwdavidson opened #248 "Data owner user test for prototype for metadata entry UI"
## Details / tasks
- [ ] Run user test with data owners

[2020-03-05 22:50] kimwdavidson opened #249 "Analyze results of data owner user test of prototype for metadata entry UI"
## Details / tasks
- [ ] Gather and analyze results
- [ ] Present findings

[2020-03-09 15:15] #239 closed

[2020-03-09 16:32] adborden commented on #246
@gujacq shared an example survey they used at NSF https://nsf.gov/help/recruitment.jsp

[2020-03-09 23:29] thejuliekramer commented on #238
@mogul can you send me an invite for this again please, mine expired

[2020-03-10 16:59] gujacq commented on #246
I've started a recruitment survey here: https://forms.gle/AxD5Tka8ZsoNeEwJ8

LMK if you'd like to edit the language at all, or if anything you see is missing.

cc @kimwdavidson @hkdctol @adborden

[2020-03-10 21:50] adborden commented on #246
Thanks! Is it possible to share it with us? I'm getting a permission
denied error:

--
Aaron D Borden
Human and hacker

[2020-03-10 22:04] gujacq commented on #246
@adborden just added you

@kimwdavidson it looks like Aaron isn't on the GSA Data.gov (838) google team drive. Can you add him so he's able to view our links?

[2020-03-12 15:37] hkdctol commented on #246
@kimwdavidson when you see this can you add me as well, so @hkdctol @adborden @mogul and @philipashlock all at our GSA addresses should have access to view

[2020-03-16 14:17] estebanruseler opened #251 "Cloud.gov: Setting up test environments for inventory"
## Description

We have an immediate need for a cloud.gov environment that hosts the GSA inventory application (CKAN version 2.3) for Jacqueline to do the tests of the metadata entry form. This can also be used to test the fork work.

## User Story

As a developer, I want a cloud.gov environment up and running so that test the code I'm pushing.

## Acceptance Criteria
- [ ] We have an environment

[2020-03-16 15:05] #229 closed

[2020-03-16 15:14] kimwdavidson commented on #245
Complete by Friday this week, so Jacqueline has time to create user test this week

[2020-03-16 17:38] gujacq commented on #246
New link here: https://docs.google.com/a/civicactions.com/forms/d/1HTd0TNLnD8bV4aEgzExnzrVjfEnpTqqU_s92yfWMcbY/edit?usp=sharing

[2020-03-16 19:27] estebanruseler opened #252 "Proof of concept for catalog on Cloud.gov"
## Description

The team needs a cloud.gov environment for the catalog application (CKAN version 2.3) to perform smoke and integration tests.

## User Story

As a developer, I want automated smoke and integration tests to be run against a cloud.gov instance of the *catalog*

## Acceptance Criteria
- [x] We have an environment running in cloud.gov that hosts the GSA catalog application CKAN version

[2020-03-16 21:14] mogul commented on #251
@woodt I have [an instance of `inventory-app` running in cloud.gov](https://inventory-empathic-tasmaniandevil-gt.app.cloud.gov). You can mess with it yourself if you'd like:
[code]

If you want to redeploy it, see [the instructions on the branch](https://github.com/GSA/inventory-app/blob/feature/cloud.gov/README.md#deploying-to-cloudgov).

[2020-03-19 14:03] woodt opened #255 "Tom learns about cloud.gov by standing up Bret's inventory-app"
Acceptance criteria:

- [x] Tom succeeds in getting inventory to run in cloud.gov
- [x] Tom creates a PR against GSA/inventory-app to capture any changes to code or documentation

[2020-03-19 16:54] #238 closed

[2020-03-19 19:34] gujacq commented on #246
@hkdctol and @kimwdavidson here's a link to the form built out in surveymonkey. lets use this instead since some gov folks won't be able to access google forms: https://www.surveymonkey.com/r/CHBZTSQ

[2020-03-20 13:37] woodt commented on #255
Got inventory-app to run!  Working on the pull request now.

[2020-03-20 14:21] woodt commented on #255
Need write access to `GSA/inventory-app` ... pinged Bret and Aaron.

[2020-03-20 19:13] woodt commented on #255
Here's the PR: https://github.com/GSA/inventory-app/pull/32

[2020-03-20 22:35] adborden commented on #255
Quoting Tom Wood (2020-03-20 07:21:25)

Granted.

--
Aaron D Borden
Human and hacker

[2020-03-22 19:04] woodt commented on #252
I've put in a little time on this, but will wait to do anything significant until I can sync-up with @adborden and @mogul .

[2020-03-23 15:45] kimwdavidson opened #256 "Re-kickoff Harvester work"
Tasks
- [x] Kickoff (Andres, Tom, Esteban, Kim)
- [x] Assessment of where we left off
- [x] Review existing issues
- [ ] Reconnect with Aaron and Bret

[2020-03-23 22:28] #255 closed

[2020-03-24 16:30] gujacq commented on #247
Recuitment documentation including the recruiting template that Hyon's going to send is here: https://docs.google.com/document/d/15FOv8eeaqRmJ4Po7gZADCVS8cEcMsctgYv3Y8OCcBhY/edit#

[2020-03-24 16:30] gujacq commented on #246
Participants are being kept here: https://www.surveymonkey.com/create/preview/?sm=grc6UEXZs15E7v3h6O3lLuX0fHU4c41tglpWBn9ee2Y_3D&tab_clicked=1

[2020-03-24 16:30] #246 closed

[2020-03-25 20:52] estebanruseler opened #257 "Discovery: Determine feasibility/work to move off CKAN 2.3 fork and onto upstsream CKAN core"
## Description

This is a timeboxed effort to understand the technical implications of, and determine the HL level of effort involved in, moving collections away from the approach taken before with the catalog-app (ie amending CKAN core) to using the OKF upstream version of CKAN 2.8 and then creating extensions for any additional features required (eg collections.

This has two parts:
1.  [Discove

[2020-03-27 17:49] thejuliekramer opened #258 "Grouping datasets within a collection"
## User Story
As the data.gov team, I want to represent the parent/child relationship between datasets, so that I can provide appropriate context about the data to the user

## Acceptance Criteria
* [ ] WHEN I search for a parent dataset (https://catalog-next.sandbox.datagov.us/dataset/general-schedule-and-locality-pay)
  THEN I see it in search results

* [ ] When I search for a child dataset (ht

[2020-03-27 19:36] avdata99 opened #259 "New catalog-app based on CKAN 2.8"
## User Story

As a GSA developer, I want a new _catalog-app_ version based on CKAN 2.8 new using the OKF docker image so that I'm able to continue working in this CKAN upgrade.

## Acceptance Criteria
- [x] We have a catalog app running on CKAN 2.8 using the OKF docker image
- [ ] Catalog app does not contain any unused code
- [x] Tests are green
- [x] We have CI

## Task-list
- [x] Validate if u

[2020-03-30 14:48] woodt commented on #251
FYI: Jacqueline is using an inventory-app instance I spun up for user testing.

[2020-03-30 15:03] estebanruseler opened #260 "Data ingestion tool prototype"
## Description

Prepare a clickable prototype to in able to fulfill OMB's milestone and to have pre-work done ahead of user-testing. The idea is that once the 1st round of user testing is complete we can update the prototype and iterate based on user feedback.

Links:
- [MyBalsamiq low-fidelity "prototype" ](https://balsamiq.cloud/s274fxc/pcybj9h/r2278)

## Acceptance Criteria
- [ ] We have a clic

[2020-03-30 15:14] thejuliekramer commented on #227
@kimwdavidson where can I find the team charter?

[2020-03-30 15:16] kimwdavidson commented on #245
https://inventory-twood-bold-platypus-oa.app.cloud.gov/ username: inventory password: inv3t0ry

[2020-03-30 15:16] #245 closed

[2020-03-30 15:18] #247 closed

[2020-03-30 15:29] kimwdavidson commented on #257
@adborden to add notes and close

[2020-03-30 21:05] hkdctol commented on #227
@thejuliekramer https://docs.google.com/document/d/1yFA-Mo3eoYW7kiHq2Rn0RdMAK78eB1S4p_L4wikzqdI/edit#heading=h.dcxtuiayu45i should get you to charter

[2020-03-30 22:33] adborden commented on #227
I had a few small changes, linked to our [CONTRIBUTING](https://github.com/GSA/datagov-ckan-multi/blob/master/CONTRIBUTING.md#story-lifecycle) doc where relevant.

[2020-03-30 23:40] adborden commented on #257
@estebanruseler from our discussion this morning, I think I miss understood the difference between this issue and https://github.com/gsa/datagov-ckan-multi/issues/259. Sounds like https://github.com/gsa/datagov-ckan-multi/issues/259 is really just about a vanilla CKAN 2.8 based on okfn, is that correct?

And then this issue is about understanding the [GSA/ckan fork](https://github.com/GSA/ckan) an

[2020-03-31 00:26] adborden commented on #252
@mogul have we not added folks to the gsa-datagov org yet? That would allow @woodt to use a higher memory limit for development.

[2020-03-31 00:28] adborden commented on #252
nm, my cf-fu is rusty. @woodt, you should have access to the `development` space and we should be able to raise the memory quota for you if necessary. How much are you looking for? 3G?

[2020-03-31 16:32] estebanruseler commented on #257
@adborden Okay, I hope taking a step back helps. The big picture is that we want to get off GSA's old catalog fork so we need to build an extension for the collections. But, according to the [pre-analysis doc](https://docs.google.com/document/d/1ZkRXFfHrlWYyTs7fQnfzNhHT4_amzyUgM5m0qrT_RXg/edit?ts=5e724f6e#) we know there is other custom code (ie any non-native to CKAN core), viz.:

Changes for the

[2020-03-31 17:26] thejuliekramer opened #261 "Scaffold ckanext-collections Repository"
## User Story

As a GSA data.gov developer I want to see a separate repository for ckanext-collections so that I can move collections related code out of CKAN .

## Acceptance Criteria
- [ ] I can access a separate repo for collections in the GSA github organization
- [ ] CI is passing

## Details / tasks
- [ ] scaffold a hello world CKAN extension
- [ ] name it ckanext-gsacollections
- [ ] README

[2020-03-31 17:28] thejuliekramer opened #262 "Update catalog-next with ckanext-datagovcatalog extension"
## User Story

As a data.gov developer, I want to implement the ckanext-datagovcatalog in catalog-next so that we know it works as a replacement solution.

## Acceptance Criteria
- [x] When i got to the sandbox, I see the collections plugin loaded in the list of extensions: http://catalog-next.sandbox.datagov.us/api/action/status_show
- [x] Test in build passes

## Details / tasks
- [x] install 2.

[2020-03-31 17:38] thejuliekramer opened #263 "Implement collections integration for CKAN search"
## User Story

As a data.gov developer I want to isolate the collections feature related to CKAN search so that we can upgrade to CKAN 2.8.

**Acceptance Criteria**
* [ ] WHEN I search for a parent dataset (https://catalog.data.gov/dataset/general-schedule-and-locality-pay)
  THEN I see it in search results

* [ ] When I search for a child dataset (https://catalog.data.gov/dataset/general-schedule

[2020-03-31 18:33] adborden commented on #257
@estebanruseler let's try to sync up on this tomorrow. I don't understand if this issue is about [catalog-app](https://github.com/GSA/catalog-app), the [CKAN fork](https://github.com/GSA/ckan/tree/datagov), or the new [ckanext-collections](https://github.com/GSA/ckanext-collections).

[2020-04-01 23:58] adborden commented on #230
Just following up, was there any feedback or edits? Were they already incorporated?

[2020-04-02 07:41] estebanruseler commented on #230
@adborden From our stand-point we use this document to guide the work. The acceptance criteria reflects this approach. But it's good you've flagged this as I should have shared this doc with Paul. He knows our approach but he doesn't have the full picture of the background.

[2020-04-02 13:36] woodt commented on #252
@adborden that should be fine!  I'm currently using my private space.  So if the memory limits could be bumped a bit, that would be delightful.

Having said that, I do have access to the gsa-datagov org, and to the development space.  Should I be using that instead?  (Sorry, I think I missed the class where the professor covered how you all are using the cloud.gov resources! :-))

[2020-04-02 13:38] woodt commented on #252
@adborden @mogul especially ... in the process of "unbisecting" plugins I "discovered" that the spatial plugins need PostGIS.  The RDS service out of the box on cloud.gov doesn't include PostGIS, I don't think.  I've set up PostGIS on AWS RDS before w/o difficulty, but one needs to be "superuser" to enable the extension. and I'm not sure how to do that  on cloud.gov?

[2020-04-02 13:55] #260 closed

[2020-04-02 14:21] mogul commented on #252
Luckily another cloud.gov user documented how to do this awhile back, but it never made it into the docs:
https://github.com/cloud-gov/cg-site/issues/569

[2020-04-02 14:24] mogul commented on #252
(You don't have to install the psql client in the application instance... Just use this plugin for the cf CLI: https://github.com/18F/cf-service-connect)

[2020-04-02 16:27] woodt commented on #252
@mogul thanks that's helpful to know ... sort of where I ended up.  I'm stuck on the fact that to enable the PostGIS extension you have to be *superuser*.  Hmm ... I wonder if I would have better luck with a 'medium-psql' RDS service instead of a shared one.

[2020-04-02 16:52] #251 closed

[2020-04-02 18:35] woodt commented on #252
@mogul resolved.  Using a 'medium-psql' instance was the secret sauce.

[2020-04-06 13:34] avdata99 opened #264 "Improve Catalog app"
## Description.

This is a follow on to #259 ([zenhub link](https://app.zenhub.com/workspaces/datagov-multi-tenant-ckan-5cf12b601437ff1e943f0aa2/issues/gsa/datagov-ckan-multi/259). In 259 we wanted a catalog app based on CKAN 2.8 working with OKF Docker image. This issue is to improve the catalog app.

**[Link to WIP analysis doc](https://hackmd.io/obF4RqFqQy2914eBrQQ44Q?both)**

## User Story

As

[2020-04-06 15:04] woodt commented on #252
Draft pull request at https://github.com/GSA/catalog-app/pull/131

[2020-04-06 15:13] #227 closed

[2020-04-09 16:52] kimwdavidson commented on #259
Blocked by analysis of #259

[2020-04-10 19:44] mogul commented on #213
Closing as all remaining work is happening under (duplicative) https://github.com/gsa/datagov-deploy/issues/1343

[2020-04-10 19:44] #213 closed

[2020-04-13 13:51] woodt commented on #252
Ready for review!

[2020-04-13 15:37] #248 closed

[2020-04-15 21:27] starsinmypockets opened #265 "Evaluate and implement test strategy for updated forks of pysaml2 and ckanext-saml"
# User Story

As a data.gov maintainer I want to ensure that all code is covered by tests so that I can remain confident that the system is performing as expected.

# Tasks

- [ ] Documented General Analysis of testing approach for updated libraries
- [ ] If possible implement automated testing strategy
- [ ] Identify and document gaps in coverage

# Acceptance

- [ ] https://github.com/GSA/ckanex

[2020-04-16 22:32] thejuliekramer opened #266 "Move Adding Category Tags to Geodatagov Extension"
## User Story

As a developer, I want to move this geodatagov specific code out of CKAN and into the [geodatagov extension](https://github.com/GSA/ckanext-geodatagov/) so that we can use the OKF version of CKAN instead of GSA's fork.

## Acceptance Criteria
- [ ] Code is no longer in fork, and fork still works
- [ ] Code is in the geodatagov extension
- [ ] Category tags are being added into the e

[2020-04-20 14:49] thejuliekramer opened #267 "Determine Use of CKAN Upstream Tagging Feature"
## User Story

As a developer, I want to use CKAN's upstream implementation of the tagging feature so that we can use the OKF version of CKAN instead of GSA's fork. If we can't replicate this behavior we will not move this code upstream at this time.

## Acceptance Criteria
- [ ] Documentation where custom tagging is being used in GSA Fork
- [ ] Documentation where CKAN OKF tagging can be used as

[2020-04-20 14:59] thejuliekramer opened #268 "Recreate Non Geostatial Facet In Extension"
## User Story

As a developer, I want to move the implementation of a custom facet to an extension so that we can use the OKF version of CKAN instead of GSA's fork.

## Acceptance Criteria
- [ ] Code is no longer in fork, and fork still works
- [ ] Code is into geodatagov extension
- [ ] Custom facets can be seen on a geodata dataset  (retaining the original functionality)
- [ ] Geodata extension

[2020-04-20 15:30] kimwdavidson commented on #264
closing and will create a new ticket for defined work

[2020-04-20 15:30] #264 closed

[2020-04-20 15:31] kimwdavidson commented on #259
(closed follow up ticket #264 until work is better defined)

[2020-04-21 17:23] thejuliekramer opened #269 "Move Collections Feature into Extension"
## User Story

As a developer, I want to move this collections feature specific code out of CKAN and into an extension so that we can use the OKF version of CKAN instead of GSA's fork.

## Acceptance Criteria
- [ ] Code is no longer in fork, and fork still works
- [ ] Code is in an extension
- [ ] Collections feature still works
- [ ] Collections feature tests pass

## Details / tasks
- [ ] remove

[2020-04-21 17:35] thejuliekramer opened #270 "Move Microdata Markup to Extension or Upstream"
## User Story

As a developer, I want to move this google search related code out of CKAN and either upstream to OKF CKAN or into the [datagovtheme extension](https://github.com/ckan/ckan/commit/c8caaa4809bd5b4902352e5e60d3b47c746e808f) so that we can use the OKF version of CKAN instead of GSA's fork.

## Acceptance Criteria
- [ ] Code is no longer in fork, and fork still works
- [ ] Code is in th

[2020-04-21 18:41] thejuliekramer opened #271 "Remove Code Related to Tracking Updates"
## User Story

As a developer, I want to determine if these code changes [1](https://github.com/ckan/ckan/commit/add3a04920d79a038d3036eabbf13b1155e05047) & [2](https://github.com/ckan/ckan/commit/fefc27367557df4b0eb6944733b07c9b6a284933) related to tracking updates have been moved into upstream CKAN so that we can use the [OKF version of CKAN](https://github.com/ckan/ckan) instead of GSA's fork.

[2020-04-21 18:50] thejuliekramer opened #272 "Make Feed Items Limit Configurable"
## User Story

As a developer, I want to make the [feed items limit ](https://github.com/ckan/ckan/commit/5fab760de1d8dfc35e87b8733639e393c01f0271 )configurable so that we can use the [OKF version of CKAN](https://github.com/ckan/ckan) instead of GSA's fork.

## Acceptance Criteria
- [ ] Code is no longer in fork, and fork still works
- [ ] Code is made configurable upstream
- [ ] Feed Item List R

[2020-04-21 19:04] thejuliekramer opened #273 "Move Dataset Readability Change Upstream"
## User Story

As a developer, I want to move this dataset specific code out of GSA CKAN and into the OKF version of CKAN so that we can use the [OKF version of CKAN](https://github.com/ckan/ckan) instead of GSA's fork.

## Acceptance Criteria
- [ ] Code is no longer in fork, and fork still works
- [ ] Issue Opened and PR submitted to move code to upstream CKAN
- [ ] Dataset URL uses name instead

[2020-04-21 19:28] thejuliekramer opened #274 "Move Custom Licenses to Config File"
## User Story

As a developer, I want to move this license specific code out of CKAN and into a config file so that we can use the [OKF version of CKAN](https://github.com/ckan/ckan) instead of GSA's fork.

## Acceptance Criteria
- [ ] Code is no longer in fork, and fork still works
- [ ] Code is in a config file
- [ ] Custom licenses are still working (retaining the original functionality)
- [ ]

[2020-04-21 19:33] thejuliekramer opened #275 "Move Code Removing Dataset Button to Datagovtheme Extension"
## User Story

As a developer, I want to move this theme specific code out of CKAN and into the [datagovtheme extension](https://github.com/GSA/ckanext-datagovtheme/) so that we can use the [OKF version of CKAN](https://github.com/ckan/ckan) instead of GSA's fork.

## Acceptance Criteria
- [ ] Code is no longer in fork, and fork still works
- [ ] Code is in the datagovtheme extension
- [ ] dataset

[2020-04-21 20:17] thejuliekramer opened #276 "Open Issue To Move BCC Feature Upstream"
## User Story

As a developer, I want to move this mailer specific code [1](https://github.com/ckan/ckan/commit/de4af14c0b6fc28fc23426ab0ceb7171c5dfbd34), [2](https://github.com/ckan/ckan/commit/c4e43ae8a4a89b9bfecf2bc82202f9df20d764f8), and [3](https://github.com/ckan/ckan/commit/6b36bf1cd51a83347d5201eb8ddf4a915ae4016c) out of GSA CKAN and into the upstream version of CKAN so that we can use the

[2020-04-21 20:47] thejuliekramer opened #277 "Make resource_search API Limit Configurable"
## User Story

As a developer, I want to move this resource_search specific code out of CKAN and into the upstream OKF version of CKAN so that we can use the [OKF version of CKAN](https://github.com/ckan/ckan) instead of GSA's fork.

## Acceptance Criteria
- [ ] Code is no longer in fork, and fork still works
- [ ] Issue is opened with PR & Code is in the OKF version of CKAN
- [ ] API limit is set

[2020-04-21 20:51] thejuliekramer opened #278 "Move Functions for PackageSearchQuery to Extension"
## User Story

As a developer, I want to move this package search query specific code out of CKAN and into an extension so that we can use the [OKF version of CKAN](https://github.com/ckan/ckan) instead of GSA's fork.

## Acceptance Criteria
- [ ] Code is no longer in fork, and fork still works
- [x] Code is in a new extension
- [x] Additional methods for PackageSearchQuery are still available (re

[2020-04-21 20:58] thejuliekramer opened #279 "Use Configurable robots.txt"
## User Story

As a developer, I want to move this robots.txt specific code  [1](https://github.com/ckan/ckan/commit/2660715a944d1113fb8f82e2c8a9403fb97c045e) & [2](https://github.com/ckan/ckan/commit/1c59104e7c66b6bf77708fd7fb349539c29e7868)  out of CKAN and into a configuration file so that we can use the [OKF version of CKAN](https://github.com/ckan/ckan) instead of GSA's fork.

## Acceptance C

[2020-04-22 21:49] woodt commented on #252
I've updated the PR in response to @adborden and @mogul's comments.  This is ready for re-review.

[2020-04-23 15:09] estebanruseler commented on #257
Link to Julie's analysis https://docs.google.com/spreadsheets/d/1nFJyKfGobIEi1v-UEGmdvKSVNIe1QFW61L7HwzJLDTY/edit#gid=0

[2020-04-24 00:28] adborden commented on #257
@thejuliekramer I really appreciate the spreadsheet and the commit-by-commit analysis, well done!

The created issues capture the outcome of this analysis well. However, I'd prefer we write these stories more like features. For example, the story is less about moving commits to extensions or upstream and more about implementing a feature "the right way". I've updated https://github.com/GSA/datagov

[2020-04-24 00:28] #257 closed

[2020-04-24 18:26] kimwdavidson opened #280 "Developers have a local development environment for modern CKAN"
## Feature/what we're after
As a developer, I want a local development environment that allows me to contribute to catalog application in a more delightful, reliable way, so that the team can iterate more quickly and efficiently

## Anticipated/hypothesized benefits
- Quicker development cycles
- New developers are productive quickly
- Developers spend more time on development and less time with t

[2020-04-27 15:58] kimwdavidson opened #282 "Local environment ticket 1"
## User Story
As a developer, when I implement features or fixes I can easily test them and be confident that they will run in production

## Acceptance Criteria
- [ ] When I run 3 or fewer commands THEN I get a fully set up catalog 2.8+ base installation
- [ ] When I edit code in the src/ directory I can see changes immediately in the running application
- [ ] When I refer to documentation, I hav

[2020-04-27 15:59] kimwdavidson opened #283 "Deterministic builds for catalog app"
## User Story

As a data.gov developer, I want the build artifact of the new catalog app to be deterministic with pinned versions of dependencies so that the code I write works the same in my colleagues' environments as well as sandbox, staging, and production

## Acceptance criteria

- [x] WHEN I have my local development environment in a state I want to deploy
      THEN I can run a command to g